In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\ameli\anaconda3\envs\Midbootcamp\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## Json to INE

### Demand side

#### Estadística: Número de turistas según comunidad autónoma de destino principal
Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=10822

Primer paso: leer el archivo json en un dataframe inicial. Como los datos están nested en diccionarios, vamos a sacar los datos para que sean leíbles. Además, solo nos interesan los datos base (el resto de operaciones las haremos más adelante).

In [2]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/10823?date=20151001:20220601'
turism_ccaa_destiny = pd.read_json(url)
turism_ccaa_destiny.head(50)

# Salvamos el dataset sucio como Excel
file_name = 'turists_ccaa_destiny.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_ccaa_destiny.to_excel(path+file_name)

Solo nos interesa obtener los datos base de cada ccaa, así que vamos a quedarnos con esas filas.

In [3]:
turism_ccaa_destiny = turism_ccaa_destiny.loc[turism_ccaa_destiny['Nombre'].str.contains('base')].reset_index(drop=True)
turism_ccaa_destiny.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG286,Turista. Total Nacional. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
1,FREG351,Andalucía. Turista. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
2,FREG350,"Balears, Illes. Turista. Dato base.",3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
3,FREG349,Canarias. Turista. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
4,FREG348,Cataluña. Turista. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."

Ahora vamos a generar un nuevo diccionario que aglutine las filas que nos interesan y el que saquemos los datos de cada diccionario.

In [4]:
# %%writefile functions.py

import datetime
import pandas as pd

def normalize_json(initial_df):
    
    # Function to change date format
    def change_date_format(row):
        date = datetime.date.fromtimestamp(row//1000)
        return date

    # Create new df
    df = pd.DataFrame()
    
    # Normalize json nested dictionary from original dataset
    for col in initial_df.index:
        data = pd.json_normalize(initial_df.Data[col])
        data['Origin'] = initial_df.Nombre[col]
        df = pd.concat([df, data])
     
    # Change column order
    col = df.pop('Origin')
    df.insert(loc= 0 , column= 'Origin', value= col)
    
    # Drop innecesary columns
    df = df.drop(['Anyo', 'FK_TipoDato', 'FK_Periodo', 'Secreto'], axis=1)
    
    # Change dateformat
    df['Fecha'] = df['Fecha'].apply(change_date_format)
    
    # Reset index
    df = df.reset_index(drop=True)

    return df

In [5]:
from functions import normalize_json

turists_ccaa_origin_filtered = normalize_json(turism_ccaa_destiny)

In [6]:
turists_ccaa_origin_filtered.head()

                                 Origin       Fecha      Valor
0  Turista. Total Nacional. Dato base.   2022-06-01  7460277.0
1  Turista. Total Nacional. Dato base.   2022-05-01  6966913.0
2  Turista. Total Nacional. Dato base.   2022-04-01  6102142.0
3  Turista. Total Nacional. Dato base.   2022-03-01  4032127.0
4  Turista. Total Nacional. Dato base.   2022-02-01  3156809.0

Ahora vamos a:

- Quitar las columnas que no nos interesan
- Cambiar la columna origen al inicio del dataset
- Reestablecer el índice
- Cambiar el formato de la fecha
- Buscar NAN y duplicados
- Guardar el dataset

In [7]:
turists_ccaa_origin_filtered['Origin'].value_counts()

turists_ccaa_origin_filtered['Origin'] = turists_ccaa_origin_filtered['Origin'].str.replace('Turista. ', '', regex = False)
turists_ccaa_origin_filtered['Origin'] = turists_ccaa_origin_filtered['Origin'].str.replace('Dato base. ', '', regex = False)
turists_ccaa_origin_filtered['Origin'] = turists_ccaa_origin_filtered['Origin'].str.replace('.', '', regex = False)

In [8]:
turists_ccaa_origin_filtered.head()

            Origin       Fecha      Valor
0  Total Nacional   2022-06-01  7460277.0
1  Total Nacional   2022-05-01  6966913.0
2  Total Nacional   2022-04-01  6102142.0
3  Total Nacional   2022-03-01  4032127.0
4  Total Nacional   2022-02-01  3156809.0

In [9]:
turists_ccaa_origin_filtered.isna().sum()

Origin    0
Fecha     0
Valor     0
dtype: int64

In [10]:
# Salvamos el dataset limpio como archivo Excel
file_name = 'turists_ccaa_destiny.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turists_ccaa_origin_filtered.to_excel(path+file_name)

### Estadística: Número de turistas según país de residencia
Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=10822

In [11]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/10822?date=20151001:20220601'
turism_origin = pd.read_json(url)

# Salvamos el dataset sucio como Excel
file_name = 'turists_origin.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_origin.to_excel(path+file_name)

In [12]:
turism_origin.head(50)

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG337,Total. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
1,FREG321,Total. Turista. Tasa de variación anual. Total...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
2,FREG1173,Total. Turista. Total Nacional. Acumulado en l...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
3,FREG1189,Total. Turista. Total Nacional. Tasa de variac...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
4,FREG336,Alemania. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
5,FREG320,Alemania. Turista. Tasa de variación anual. To...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
6,FREG1172,Alemania. Turista. Total Nacional. Acumulado e...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
7,FREG1188,Alemania. Turista. Total Nacional. Tasa de var...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
8,FREG335,Bélgica. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
9,FREG319,Bélgica. Turista. Tasa de variación anual. Tot...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
10,FREG1171,Bélgica. Turista. Total Nacional. Acumulado en...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
11,FREG1187,Bélgica. Turista. Total Nacional. Tasa de vari...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
12,FREG334,Francia. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
13,FREG318,Francia. Turista. Tasa de variación anual. Tot...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
14,FREG1170,Francia. Turista. Total Nacional. Acumulado en...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
15,FREG1186,Francia. Turista. Total Nacional. Tasa de vari...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
16,FREG333,Irlanda. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
17,FREG317,Irlanda. Turista. Tasa de variación anual. Tot...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
18,FREG1169,Irlanda. Turista. Total Nacional. Acumulado en...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
19,FREG1185,Irlanda. Turista. Total Nacional. Tasa de vari...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
20,FREG332,Italia. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
21,FREG316,Italia. Turista. Tasa de variación anual. Tota...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
22,FREG1168,Italia. Turista. Total Nacional. Acumulado en ...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
23,FREG1184,Italia. Turista. Total Nacional. Tasa de varia...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
24,FREG331,Países Bajos. Turista. Dato base. Total Nacion...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
25,FREG315,Países Bajos. Turista. Tasa de variación anual...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
26,FREG1167,Países Bajos. Turista. Total Nacional. Acumula...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
27,FREG1183,Países Bajos. Turista. Total Nacional. Tasa de...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
28,FREG330,Países Nórdicos. Turista. Dato base. Total Nac...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
29,FREG314,Países Nórdicos. Turista. Tasa de variación an...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
30,FREG1166,Países Nórdicos. Turista. Total Nacional. Acum...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
31,FREG1182,Países Nórdicos. Turista. Total Nacional. Tasa...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
32,FREG329,Portugal. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
33,FREG313,Portugal. Turista. Tasa de variación anual. To...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
34,FREG1165,Portugal. Turista. Total Nacional. Acumulado e...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
35,FREG1181,Portugal. Turista. Total Nacional. Tasa de var...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
36,FREG328,Reino Unido. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
37,FREG312,Reino Unido. Turista. Tasa de variación anual....,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
38,FREG1164,Reino Unido. Turista. Total Nacional. Acumulad...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
39,FREG1180,Reino Unido. Turista. Total Nacional. Tasa de ...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
40,FREG327,Rusia. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1646089200000, 'FK_TipoDato': 2, 'F..."
41,FREG311,Rusia. Turista. Tasa de variación anual. Total...,135,1,"[{'Fecha': 1646089200000, 'FK_TipoDato': 2, 'F..."
42,FREG1163,Rusia. Turista. Total Nacional. Acumulado en l...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
43,FREG1179,Rusia. Turista. Total Nacional. Tasa de variac...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
44,FREG326,Suiza. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
45,FREG310,Suiza. Turista. Tasa de variación anual. Total...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
46,FREG1162,Suiza. Turista. Total Nacional. Acumulado en l...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
47,FREG1178,Suiza. Turista. Total Nacional. Tasa de variac...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
48,FREG325,Europa menos UE28. Turista. Dato base. Total N...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
49,FREG309,Europa menos UE28. Turista. Tasa de variación ...,135,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."

In [13]:
turism_origin = turism_origin.loc[turism_origin['Nombre'].str.contains('base')].reset_index(drop=True)
turism_origin.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG337,Total. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
1,FREG336,Alemania. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
2,FREG335,Bélgica. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
3,FREG334,Francia. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
4,FREG333,Irlanda. Turista. Dato base. Total Nacional.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."

In [14]:
turism_origin_filtered = normalize_json(turism_origin)
turism_origin_filtered.head()

                                        Origin       Fecha      Valor
0  Total. Turista. Dato base. Total Nacional.   2022-06-01  7460277.0
1  Total. Turista. Dato base. Total Nacional.   2022-05-01  6966913.0
2  Total. Turista. Dato base. Total Nacional.   2022-04-01  6102142.0
3  Total. Turista. Dato base. Total Nacional.   2022-03-01  4032127.0
4  Total. Turista. Dato base. Total Nacional.   2022-02-01  3156809.0

In [15]:
turism_origin_filtered['Origin'].value_counts()

Total. Turista. Dato base. Total Nacional.                         81
Alemania. Turista. Dato base. Total Nacional.                      81
Bélgica. Turista. Dato base. Total Nacional.                       81
Francia. Turista. Dato base. Total Nacional.                       81
Irlanda. Turista. Dato base. Total Nacional.                       81
Italia. Turista. Dato base. Total Nacional.                        81
Países Bajos. Turista. Dato base. Total Nacional.                  81
Países Nórdicos. Turista. Dato base. Total Nacional.               81
Portugal. Turista. Dato base. Total Nacional.                      81
Reino Unido. Turista. Dato base. Total Nacional.                   81
Suiza. Turista. Dato base. Total Nacional.                         81
Europa menos UE28. Turista. Dato base. Total Nacional.             81
Estados Unidos de América. Turista. Dato base. Total Nacional.     81
Resto América. Turista. Dato base. Total Nacional.                 81
Resto del Mundo. Turista. Dato base. Total Nacional.               81
Rusia. Turista. Dato base. Total Nacional.                         78
Name: Origin, dtype: int64

In [16]:
turism_origin_filtered['Origin'] = turism_origin_filtered['Origin'].apply(lambda string: string.split(".")[0])

turism_origin_filtered.head()

  Origin       Fecha      Valor
0  Total  2022-06-01  7460277.0
1  Total  2022-05-01  6966913.0
2  Total  2022-04-01  6102142.0
3  Total  2022-03-01  4032127.0
4  Total  2022-02-01  3156809.0

In [17]:
turism_origin_filtered.isna().sum()

Origin     0
Fecha      0
Valor     10
dtype: int64

## HOW TO HANDLE THESE ROWS?? DROP THESE VALUES

In [18]:
rows_to_drop = turism_origin_filtered.loc[turism_origin_filtered['Valor'].isna()].index
turism_origin_filtered = turism_origin_filtered.drop(rows_to_drop, axis=0)

turism_origin_filtered.isna().sum()

Origin    0
Fecha     0
Valor     0
dtype: int64

In [19]:
# Salvamos el dataset limpio como archivo Excel
file_name = 'turists_origin.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_origin_filtered.to_excel(path+file_name)

### Estadística: Número de turistas según tipo de alojamiento principal

Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=10826

In [20]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/10826?date=20151001:20220601'
        
turism_accomodation = pd.read_json(url)

# Salvamos el dataset sucio como Excel
file_name = 'turists_accomodation.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_accomodation.to_excel(path+file_name)

In [21]:
turism_accomodation.Nombre.value_counts()

Turista. Total. Total Nacional. Dato base.                                                   1
Turista. Total. Total Nacional. Tasa de variación anual.                                     1
Turista. No de mercado. Total Nacional. Dato base.                                           1
Turista. No de mercado. Total Nacional. Tasa de variación anual.                             1
Turista. No de mercado. Total Nacional. Acumulado en lo que va de año.                       1
Turista. No de mercado. Total Nacional. Tasa de variación acumulada.                         1
Turista. Vivienda en propiedad. Total Nacional. Dato base.                                   1
Turista. Vivienda en propiedad. Total Nacional. Tasa de variación anual.                     1
Turista. Vivienda en propiedad. Total Nacional. Acumulado en lo que va de año.               1
Turista. Vivienda en propiedad. Total Nacional. Tasa de variación acumulada.                 1
Turista. Vivienda de familiares o amigos. Total Nacional. Dato base.                         1
Turista. Vivienda de familiares o amigos. Total Nacional. Tasa de variación anual.           1
Turista. Vivienda de familiares o amigos. Total Nacional. Acumulado en lo que va de año.     1
Turista. Vivienda de familiares o amigos. Total Nacional. Tasa de variación acumulada.       1
Turista. Resto de no mercado. Total Nacional. Dato base.                                     1
Turista. Resto de no mercado. Total Nacional. Tasa de variación anual.                       1
Turista. Resto de no mercado. Total Nacional. Acumulado en lo que va de año.                 1
Turista. Resto de mercado. Total Nacional. Tasa de variación acumulada.                      1
Turista. Resto de mercado. Total Nacional. Acumulado en lo que va de año.                    1
Turista. Resto de mercado. Total Nacional. Tasa de variación anual.                          1
Turista. Hoteles o apartahotel. Total Nacional. Dato base.                                   1
Turista. Total. Total Nacional. Acumulado en lo que va de año.                               1
Turista. Total. Total Nacional. Tasa de variación acumulada.                                 1
Turista. De mercado. Total Nacional. Dato base.                                              1
Turista. De mercado. Total Nacional. Tasa de variación anual.                                1
Turista. De mercado. Total Nacional. Acumulado en lo que va de año.                          1
Turista. De mercado. Total Nacional. Tasa de variación acumulada.                            1
Turista. Hoteles o apartahotel. Total Nacional. Tasa de variación anual.                     1
Turista. Resto de mercado. Total Nacional. Dato base.                                        1
Turista. Hoteles o apartahotel. Total Nacional. Acumulado en lo que va de año.               1
Turista. Hoteles o apartahotel. Total Nacional. Tasa de variación acumulada.                 1
Turista. Vivienda en alquiler. Total Nacional. Dato base.                                    1
Turista. Vivienda en alquiler. Total Nacional. Tasa de variación anual.                      1
Turista. Vivienda en alquiler. Total Nacional. Acumulado en lo que va de año.                1
Turista. Vivienda en alquiler. Total Nacional. Tasa de variación acumulada.                  1
Turista. Resto de no mercado. Total Nacional. Tasa de variación acumulada.                   1
Name: Nombre, dtype: int64

In [22]:
turism_accomodation = turism_accomodation.loc[turism_accomodation['Nombre'].str.contains('base')].reset_index(drop=True)
turism_accomodation.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG305,Turista. Total. Total Nacional. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
1,FREG593,Turista. De mercado. Total Nacional. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
2,FREG304,Turista. Hoteles o apartahotel. Total Nacional...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
3,FREG665,Turista. Vivienda en alquiler. Total Nacional....,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
4,FREG303,Turista. Resto de mercado. Total Nacional. Dat...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."

In [23]:
turism_accomodation_filtered = normalize_json(turism_accomodation)
turism_accomodation_filtered.head()

                                        Origin       Fecha      Valor
0  Turista. Total. Total Nacional. Dato base.   2022-06-01  7460277.0
1  Turista. Total. Total Nacional. Dato base.   2022-05-01  6966913.0
2  Turista. Total. Total Nacional. Dato base.   2022-04-01  6102142.0
3  Turista. Total. Total Nacional. Dato base.   2022-03-01  4032127.0
4  Turista. Total. Total Nacional. Dato base.   2022-02-01  3156809.0

In [24]:
turism_accomodation_filtered['Origin'].value_counts()

Turista. Total. Total Nacional. Dato base.                               81
Turista. De mercado. Total Nacional. Dato base.                          81
Turista. Hoteles o apartahotel. Total Nacional. Dato base.               81
Turista. Vivienda en alquiler. Total Nacional. Dato base.                81
Turista. Resto de mercado. Total Nacional. Dato base.                    81
Turista. No de mercado. Total Nacional. Dato base.                       81
Turista. Vivienda en propiedad. Total Nacional. Dato base.               81
Turista. Vivienda de familiares o amigos. Total Nacional. Dato base.     81
Turista. Resto de no mercado. Total Nacional. Dato base.                 81
Name: Origin, dtype: int64

In [25]:
turism_accomodation_filtered['Origin'] = turism_accomodation_filtered['Origin'].apply(lambda string: string.split(".")[1])
turism_accomodation_filtered['Origin'].value_counts()

 Total                              81
 De mercado                         81
 Hoteles o apartahotel              81
 Vivienda en alquiler               81
 Resto de mercado                   81
 No de mercado                      81
 Vivienda en propiedad              81
 Vivienda de familiares o amigos    81
 Resto de no mercado                81
Name: Origin, dtype: int64

In [26]:
turism_accomodation_filtered.isna().sum()

Origin    0
Fecha     0
Valor     0
dtype: int64

In [27]:
# Salvamos el dataset limpio como archivo Excel
file_name = 'turists_accomodation.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_accomodation_filtered.to_excel(path+file_name)

### Estadística: Número de visitantes según duración de la estancia

Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=14290

In [28]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/14290?date=20151001:20220601'

turism_stay = pd.read_json(url)

# Salvamos el dataset sucio como Excel
file_name = 'turists_stay.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_stay.to_excel(path+file_name)

In [29]:
turism_stay.Nombre.unique()

array(['Total. Total Nacional. Ninguna noche. Dato base. ',
       'Total. Total Nacional. Ninguna noche. Tasa de variación anual. ',
       'Total. Total Nacional. Ninguna noche. Acumulado en lo que va de año. ',
       'Total. Total Nacional. Ninguna noche. Tasa de variación acumulada. ',
       'Total. Total Nacional. 1 noche. Dato base. ',
       'Total. Total Nacional. 1 noche. Tasa de variación anual. ',
       'Total. Total Nacional. 1 noche. Acumulado en lo que va de año. ',
       'Total. Total Nacional. 1 noche. Tasa de variación acumulada. ',
       'Total. Total Nacional. De 2 a 3 noches. Dato base. ',
       'Total. Total Nacional. De 2 a 3 noches. Tasa de variación anual. ',
       'Total. Total Nacional. De 2 a 3 noches. Acumulado en lo que va de año. ',
       'Total. Total Nacional. De 2 a 3 noches. Tasa de variación acumulada. ',
       'Total. Total Nacional. De 4 a 7 noches. Dato base. ',
       'Total. Total Nacional. De 4 a 7 noches. Tasa de variación anual. ',
       'Total. Total Nacional. De 4 a 7 noches. Acumulado en lo que va de año. ',
       'Total. Total Nacional. De 4 a 7 noches. Tasa de variación acumulada. ',
       'Total. Total Nacional. De 8 a 15 noches. Dato base. ',
       'Total. Total Nacional. De 8 a 15 noches. Tasa de variación anual. ',
       'Total. Total Nacional. De 8 a 15 noches. Acumulado en lo que va de año. ',
       'Total. Total Nacional. De 8 a 15 noches. Tasa de variación acumulada. ',
       'Total. Total Nacional. Más de 15 noches. Dato base. ',
       'Total. Total Nacional. Más de 15 noches. Tasa de variación anual. ',
       'Total. Total Nacional. Más de 15 noches. Acumulado en lo que va de año. ',
       'Total. Total Nacional. Más de 15 noches. Tasa de variación acumulada. '],
      dtype=object)

In [30]:
turism_stay = turism_stay.loc[turism_stay['Nombre'].str.contains('base')].reset_index(drop=True)
turism_stay.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,FREG847,Total. Total Nacional. Ninguna noche. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
1,FREG846,Total. Total Nacional. 1 noche. Dato base.,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
2,FREG845,Total. Total Nacional. De 2 a 3 noches. Dato b...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
3,FREG844,Total. Total Nacional. De 4 a 7 noches. Dato b...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
4,FREG843,Total. Total Nacional. De 8 a 15 noches. Dato ...,3,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."

In [31]:
turism_stay_filtered = normalize_json(turism_stay)
turism_stay_filtered.head()

                                              Origin       Fecha      Valor
0  Total. Total Nacional. Ninguna noche. Dato base.   2022-06-01  2635978.0
1  Total. Total Nacional. Ninguna noche. Dato base.   2022-05-01  2704266.0
2  Total. Total Nacional. Ninguna noche. Dato base.   2022-04-01  2499038.0
3  Total. Total Nacional. Ninguna noche. Dato base.   2022-03-01  2018328.0
4  Total. Total Nacional. Ninguna noche. Dato base.   2022-02-01  2146650.0

In [32]:
turism_stay_filtered['Origin'].value_counts()

Total. Total Nacional. Ninguna noche. Dato base.        81
Total. Total Nacional. 1 noche. Dato base.              81
Total. Total Nacional. De 2 a 3 noches. Dato base.      81
Total. Total Nacional. De 4 a 7 noches. Dato base.      81
Total. Total Nacional. De 8 a 15 noches. Dato base.     81
Total. Total Nacional. Más de 15 noches. Dato base.     81
Name: Origin, dtype: int64

In [33]:
turism_stay_filtered['Origin'] = turism_stay_filtered['Origin'].apply(lambda string: string.split(".")[2])
turism_stay_filtered['Origin'].value_counts()

 Ninguna noche       81
 1 noche             81
 De 2 a 3 noches     81
 De 4 a 7 noches     81
 De 8 a 15 noches    81
 Más de 15 noches    81
Name: Origin, dtype: int64

In [34]:
turism_stay_filtered.isna().sum()

Origin    0
Fecha     0
Valor     0
dtype: int64

In [35]:
# Salvamos el dataset limpio como archivo Excel
file_name = 'turists_stay.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_stay_filtered.to_excel(path+file_name)

### Estadística: Gasto de los turistas internacionales según comunidad autónoma de destino principal
#### Unidades: €, Millones €, Días, %, Tasas

Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=10839

In [36]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/10839?date=20151001:20220601'

turism_expend_ccaa = pd.read_json(url)

# Salvamos el dataset sucio como Excel
file_name = 'turism_expend_ccaa.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_expend_ccaa.to_excel(path+file_name)

In [37]:
turism_expend_ccaa.Nombre.unique()

array(['Gasto total. Total Nacional. Turista. Dato base. ',
       'Gasto total. Total Nacional. Turista. Tasa de variación anual. ',
       'Turista. Gasto total. Total Nacional. Acumulado en lo que va de año. ',
       'Turista. Gasto total. Total Nacional. Tasa de variación acumulada. ',
       'Gasto medio por persona. Total Nacional. Turista. Dato base. ',
       'Gasto medio por persona. Total Nacional. Turista. Tasa de variación anual. ',
       'Total Nacional. Turista. Gasto medio por persona. Acumulado en lo que va de año. ',
       'Total Nacional. Turista. Gasto medio por persona. Tasa de variación acumulada. ',
       'Gasto medio diario por persona. Total Nacional. Turista. Dato base. ',
       'Gasto medio diario por persona. Total Nacional. Turista. Tasa de variación anual. ',
       'Total Nacional. Turista. Gasto medio diario por persona. Acumulado en lo que va de año. ',
       'Total Nacional. Turista. Gasto medio diario por persona. Tasa de variación acumulada. ',
       'Duración media de los viajes. Total Nacional. Turista. Dato base. ',
       'Duración media de los viajes. Total Nacional. Turista. Tasa de variación anual. ',
       'Total Nacional. Turista. Duración media de los viajes. Acumulado en lo que va de año. ',
       'Total Nacional. Turista. Duración media de los viajes. Tasa de variación acumulada. ',
       'Andalucía. Turista. Gasto total. Dato base. ',
       'Andalucía. Turista. Gasto total. Tasa de variación anual. ',
       'Andalucía. Turista. Gasto total. Acumulado en lo que va de año. ',
       'Andalucía. Turista. Gasto total. Tasa de variación acumulada. ',
       'Andalucía. Turista. Gasto medio por persona. Dato base. ',
       'Andalucía. Turista. Gasto medio por persona. Tasa de variación anual. ',
       'Andalucía. Turista. Gasto medio por persona. Acumulado en lo que va de año. ',
       'Andalucía. Turista. Gasto medio por persona. Tasa de variación acumulada. ',
       'Andalucía. Turista. Gasto medio diario por persona. Dato base. ',
       'Andalucía. Turista. Gasto medio diario por persona. Tasa de variación anual. ',
       'Andalucía. Turista. Gasto medio diario por persona. Acumulado en lo que va de año. ',
       'Andalucía. Turista. Gasto medio diario por persona. Tasa de variación acumulada. ',
       'Andalucía. Turista. Duración media de los viajes. Dato base. ',
       'Andalucía. Turista. Duración media de los viajes. Tasa de variación anual. ',
       'Andalucía. Turista. Duración media de los viajes. Acumulado en lo que va de año. ',
       'Andalucía. Turista. Duración media de los viajes. Tasa de variación acumulada. ',
       'Balears, Illes. Turista. Gasto total. Dato base. ',
       'Balears, Illes. Turista. Gasto total. Tasa de variación anual. ',
       'Balears, Illes. Turista. Gasto total. Acumulado en lo que va de año. ',
       'Balears, Illes. Turista. Gasto total. Tasa de variación acumulada. ',
       'Balears, Illes. Turista. Gasto medio por persona. Dato base. ',
       'Balears, Illes. Turista. Gasto medio por persona. Tasa de variación anual. ',
       'Balears, Illes. Turista. Gasto medio por persona. Acumulado en lo que va de año. ',
       'Balears, Illes. Turista. Gasto medio por persona. Tasa de variación acumulada. ',
       'Balears, Illes. Turista. Gasto medio diario por persona. Dato base. ',
       'Balears, Illes. Turista. Gasto medio diario por persona. Tasa de variación anual. ',
       'Balears, Illes. Turista. Gasto medio diario por persona. Acumulado en lo que va de año. ',
       'Balears, Illes. Turista. Gasto medio diario por persona. Tasa de variación acumulada. ',
       'Balears, Illes. Turista. Duración media de los viajes. Dato base. ',
       'Balears, Illes. Turista. Duración media de los viajes. Tasa de variación anual. ',
       'Balears, Illes. Turista. Duración media de los viajes. Acumulado en lo que va de año. ',
       'Balears, Illes. Turista. Duración media de los viajes. Tasa de variación acumulada. ',
       'Canarias. Turista. Gasto total. Dato base. ',
       'Canarias. Turista. Gasto total. Tasa de variación anual. ',
       'Canarias. Turista. Gasto total. Acumulado en lo que va de año. ',
       'Canarias. Turista. Gasto total. Tasa de variación acumulada. ',
       'Canarias. Turista. Gasto medio por persona. Dato base. ',
       'Canarias. Turista. Gasto medio por persona. Tasa de variación anual. ',
       'Canarias. Turista. Gasto medio por persona. Acumulado en lo que va de año. ',
       'Canarias. Turista. Gasto medio por persona. Tasa de variación acumulada. ',
       'Canarias. Turista. Gasto medio diario por persona. Dato base. ',
       'Canarias. Turista. Gasto medio diario por persona. Tasa de variación anual. ',
       'Canarias. Turista. Gasto medio diario por persona. Acumulado en lo que va de año. ',
       'Canarias. Turista. Gasto medio diario por persona. Tasa de variación acumulada. ',
       'Canarias. Turista. Duración media de los viajes. Dato base. ',
       'Canarias. Turista. Duración media de los viajes. Tasa de variación anual. ',
       'Canarias. Turista. Duración media de los viajes. Acumulado en lo que va de año. ',
       'Canarias. Turista. Duración media de los viajes. Tasa de variación acumulada. ',
       'Cataluña. Turista. Gasto total. Dato base. ',
       'Cataluña. Turista. Gasto total. Tasa de variación anual. ',
       'Cataluña. Turista. Gasto total. Acumulado en lo que va de año. ',
       'Cataluña. Turista. Gasto total. Tasa de variación acumulada. ',
       'Cataluña. Turista. Gasto medio por persona. Dato base. ',
       'Cataluña. Turista. Gasto medio por persona. Tasa de variación anual. ',
       'Cataluña. Turista. Gasto medio por persona. Acumulado en lo que va de año. ',
       'Cataluña. Turista. Gasto medio por persona. Tasa de variación acumulada. ',
       'Cataluña. Turista. Gasto medio diario por persona. Dato base. ',
       'Cataluña. Turista. Gasto medio diario por persona. Tasa de variación anual. ',
       'Cataluña. Turista. Gasto medio diario por persona. Acumulado en lo que va de año. ',
       'Cataluña. Turista. Gasto medio diario por persona. Tasa de variación acumulada. ',
       'Cataluña. Turista. Duración media de los viajes. Dato base. ',
       'Cataluña. Turista. Duración media de los viajes. Tasa de variación anual. ',
       'Cataluña. Turista. Duración media de los viajes. Acumulado en lo que va de año. ',
       'Cataluña. Turista. Duración media de los viajes. Tasa de variación acumulada. ',
       'Comunitat Valenciana. Turista. Gasto total. Dato base. ',
       'Comunitat Valenciana. Turista. Gasto total. Tasa de variación anual. ',
       'Comunitat Valenciana. Turista. Gasto total. Acumulado en lo que va de año. ',
       'Comunitat Valenciana. Turista. Gasto total. Tasa de variación acumulada. ',
       'Comunitat Valenciana. Turista. Gasto medio por persona. Dato base. ',
       'Comunitat Valenciana. Turista. Gasto medio por persona. Tasa de variación anual. ',
       'Comunitat Valenciana. Turista. Gasto medio por persona. Acumulado en lo que va de año. ',
       'Comunitat Valenciana. Turista. Gasto medio por persona. Tasa de variación acumulada. ',
       'Comunitat Valenciana. Turista. Gasto medio diario por persona. Dato base. ',
       'Comunitat Valenciana. Turista. Gasto medio diario por persona. Tasa de variación anual. ',
       'Comunitat Valenciana. Turista. Gasto medio diario por persona. Acumulado en lo que va de año. ',
       'Comunitat Valenciana. Turista. Gasto medio diario por persona. Tasa de variación acumulada. ',
       'Comunitat Valenciana. Turista. Duración media de los viajes. Dato base. ',
       'Comunitat Valenciana. Turista. Duración media de los viajes. Tasa de variación anual. ',
       'Comunitat Valenciana. Turista. Duración media de los viajes. Acumulado en lo que va de año. ',
       'Comunitat Valenciana. Turista. Duración media de los viajes. Tasa de variación acumulada. ',
       'Madrid, Comunidad de. Turista. Gasto total. Dato base. ',
       'Madrid, Comunidad de. Turista. Gasto total. Tasa de variación anual. ',
       'Madrid, Comunidad de. Turista. Gasto total. Acumulado en lo que va de año. ',
       'Madrid, Comunidad de. Turista. Gasto total. Tasa de variación acumulada. ',
       'Madrid, Comunidad de. Turista. Gasto medio por persona. Dato base. ',
       'Madrid, Comunidad de. Turista. Gasto medio por persona. Tasa de variación anual. ',
       'Madrid, Comunidad de. Turista. Gasto medio por persona. Acumulado en lo que va de año. ',
       'Madrid, Comunidad de. Turista. Gasto medio por persona. Tasa de variación acumulada. ',
       'Madrid, Comunidad de. Turista. Gasto medio diario por persona. Dato base. ',
       'Madrid, Comunidad de. Turista. Gasto medio diario por persona. Tasa de variación anual. ',
       'Madrid, Comunidad de. Turista. Gasto medio diario por persona. Acumulado en lo que va de año. ',
       'Madrid, Comunidad de. Turista. Gasto medio diario por persona. Tasa de variación acumulada. ',
       'Madrid, Comunidad de. Turista. Duración media de los viajes. Dato base. ',
       'Madrid, Comunidad de. Turista. Duración media de los viajes. Tasa de variación anual. ',
       'Madrid, Comunidad de. Turista. Duración media de los viajes. Acumulado en lo que va de año. ',
       'Madrid, Comunidad de. Turista. Duración media de los viajes. Tasa de variación acumulada. ',
       'Otras Comunidades Autónomas. Turista. Gasto total. Dato base. ',
       'Otras Comunidades Autónomas. Turista. Gasto total. Tasa de variación anual. ',
       'Otras Comunidades Autónomas. Turista. Gasto total. Acumulado en lo que va de año. ',
       'Otras Comunidades Autónomas. Turista. Gasto total. Tasa de variación acumulada. ',
       'Otras Comunidades Autónomas. Turista. Gasto medio por persona. Dato base. ',
       'Otras Comunidades Autónomas. Turista. Gasto medio por persona. Tasa de variación anual. ',
       'Otras Comunidades Autónomas. Turista. Gasto medio por persona. Acumulado en lo que va de año. ',
       'Otras Comunidades Autónomas. Turista. Gasto medio por persona. Tasa de variación acumulada. ',
       'Otras Comunidades Autónomas. Turista. Gasto medio diario por persona. Dato base. ',
       'Otras Comunidades Autónomas. Turista. Gasto medio diario por persona. Tasa de variación anual. ',
       'Otras Comunidades Autónomas. Turista. Gasto medio diario por persona. Acumulado en lo que va de año. ',
       'Otras Comunidades Autónomas. Turista. Gasto medio diario por persona. Tasa de variación acumulada. ',
       'Otras Comunidades Autónomas. Turista. Duración media de los viajes. Dato base. ',
       'Otras Comunidades Autónomas. Turista. Duración media de los viajes. Tasa de variación anual. ',
       'Otras Comunidades Autónomas. Turista. Duración media de los viajes. Acumulado en lo que va de año. ',
       'Otras Comunidades Autónomas. Turista. Duración media de los viajes. Tasa de variación acumulada. '],
      dtype=object)

In [38]:
turism_expend_ccaa = turism_expend_ccaa.loc[turism_expend_ccaa['Nombre'].str.contains('base')].reset_index(drop=True)
turism_expend_ccaa.Nombre.unique()

array(['Gasto total. Total Nacional. Turista. Dato base. ',
       'Gasto medio por persona. Total Nacional. Turista. Dato base. ',
       'Gasto medio diario por persona. Total Nacional. Turista. Dato base. ',
       'Duración media de los viajes. Total Nacional. Turista. Dato base. ',
       'Andalucía. Turista. Gasto total. Dato base. ',
       'Andalucía. Turista. Gasto medio por persona. Dato base. ',
       'Andalucía. Turista. Gasto medio diario por persona. Dato base. ',
       'Andalucía. Turista. Duración media de los viajes. Dato base. ',
       'Balears, Illes. Turista. Gasto total. Dato base. ',
       'Balears, Illes. Turista. Gasto medio por persona. Dato base. ',
       'Balears, Illes. Turista. Gasto medio diario por persona. Dato base. ',
       'Balears, Illes. Turista. Duración media de los viajes. Dato base. ',
       'Canarias. Turista. Gasto total. Dato base. ',
       'Canarias. Turista. Gasto medio por persona. Dato base. ',
       'Canarias. Turista. Gasto medio diario por persona. Dato base. ',
       'Canarias. Turista. Duración media de los viajes. Dato base. ',
       'Cataluña. Turista. Gasto total. Dato base. ',
       'Cataluña. Turista. Gasto medio por persona. Dato base. ',
       'Cataluña. Turista. Gasto medio diario por persona. Dato base. ',
       'Cataluña. Turista. Duración media de los viajes. Dato base. ',
       'Comunitat Valenciana. Turista. Gasto total. Dato base. ',
       'Comunitat Valenciana. Turista. Gasto medio por persona. Dato base. ',
       'Comunitat Valenciana. Turista. Gasto medio diario por persona. Dato base. ',
       'Comunitat Valenciana. Turista. Duración media de los viajes. Dato base. ',
       'Madrid, Comunidad de. Turista. Gasto total. Dato base. ',
       'Madrid, Comunidad de. Turista. Gasto medio por persona. Dato base. ',
       'Madrid, Comunidad de. Turista. Gasto medio diario por persona. Dato base. ',
       'Madrid, Comunidad de. Turista. Duración media de los viajes. Dato base. ',
       'Otras Comunidades Autónomas. Turista. Gasto total. Dato base. ',
       'Otras Comunidades Autónomas. Turista. Gasto medio por persona. Dato base. ',
       'Otras Comunidades Autónomas. Turista. Gasto medio diario por persona. Dato base. ',
       'Otras Comunidades Autónomas. Turista. Duración media de los viajes. Dato base. '],
      dtype=object)

In [39]:
turism_expend_ccaa_filtered = normalize_json(turism_expend_ccaa)
turism_expend_ccaa_filtered.head()

                                              Origin       Fecha    Valor
0  Gasto total. Total Nacional. Turista. Dato base.   2022-06-01  8992.53
1  Gasto total. Total Nacional. Turista. Dato base.   2022-05-01  8022.73
2  Gasto total. Total Nacional. Turista. Dato base.   2022-04-01  6900.61
3  Gasto total. Total Nacional. Turista. Dato base.   2022-03-01  5069.23
4  Gasto total. Total Nacional. Turista. Dato base.   2022-02-01  3756.86

In [40]:
turism_expend_ccaa_filtered['Origin'].value_counts()

Gasto total. Total Nacional. Turista. Dato base.                                     81
Gasto medio por persona. Total Nacional. Turista. Dato base.                         81
Otras Comunidades Autónomas. Turista. Gasto medio diario por persona. Dato base.     81
Otras Comunidades Autónomas. Turista. Gasto medio por persona. Dato base.            81
Otras Comunidades Autónomas. Turista. Gasto total. Dato base.                        81
Madrid, Comunidad de. Turista. Duración media de los viajes. Dato base.              81
Madrid, Comunidad de. Turista. Gasto medio diario por persona. Dato base.            81
Madrid, Comunidad de. Turista. Gasto medio por persona. Dato base.                   81
Madrid, Comunidad de. Turista. Gasto total. Dato base.                               81
Comunitat Valenciana. Turista. Duración media de los viajes. Dato base.              81
Comunitat Valenciana. Turista. Gasto medio diario por persona. Dato base.            81
Comunitat Valenciana. Turista. Gasto medio por persona. Dato base.                   81
Comunitat Valenciana. Turista. Gasto total. Dato base.                               81
Cataluña. Turista. Duración media de los viajes. Dato base.                          81
Cataluña. Turista. Gasto medio diario por persona. Dato base.                        81
Cataluña. Turista. Gasto medio por persona. Dato base.                               81
Cataluña. Turista. Gasto total. Dato base.                                           81
Canarias. Turista. Duración media de los viajes. Dato base.                          81
Canarias. Turista. Gasto medio diario por persona. Dato base.                        81
Canarias. Turista. Gasto medio por persona. Dato base.                               81
Canarias. Turista. Gasto total. Dato base.                                           81
Balears, Illes. Turista. Duración media de los viajes. Dato base.                    81
Balears, Illes. Turista. Gasto medio diario por persona. Dato base.                  81
Balears, Illes. Turista. Gasto medio por persona. Dato base.                         81
Balears, Illes. Turista. Gasto total. Dato base.                                     81
Andalucía. Turista. Duración media de los viajes. Dato base.                         81
Andalucía. Turista. Gasto medio diario por persona. Dato base.                       81
Andalucía. Turista. Gasto medio por persona. Dato base.                              81
Andalucía. Turista. Gasto total. Dato base.                                          81
Duración media de los viajes. Total Nacional. Turista. Dato base.                    81
Gasto medio diario por persona. Total Nacional. Turista. Dato base.                  81
Otras Comunidades Autónomas. Turista. Duración media de los viajes. Dato base.       81
Name: Origin, dtype: int64

In [41]:
special_rows = turism_expend_ccaa_filtered.loc[turism_expend_ccaa_filtered['Origin'].str.contains('Nacional')]
special_rows_idx = special_rows.index
turism_expend_ccaa_filtered = turism_expend_ccaa_filtered.drop(special_rows_idx, axis = 0)

In [42]:
exp_type = []
origin = []
for string in special_rows['Origin']:
    string = string.split(".")
    exp_type.append(string[0])
    origin.append(string[1])


exp_type_ = []
origin_ = []
for i in turism_expend_ccaa_filtered['Origin']:
    i = i.split(".")
    exp_type_.append(i[2])
    origin_.append(i[0])
    
    
special_rows['Expenditure_type'] = exp_type
special_rows['Origin'] = origin
turism_expend_ccaa_filtered['Expenditure_type'] = exp_type_
turism_expend_ccaa_filtered['Origin'] = origin_

In [43]:
special_rows['Origin'].value_counts()
turism_expend_ccaa_filtered['Origin'].value_counts()

Andalucía                      324
Balears, Illes                 324
Canarias                       324
Cataluña                       324
Comunitat Valenciana           324
Madrid, Comunidad de           324
Otras Comunidades Autónomas    324
Name: Origin, dtype: int64

In [44]:
turism_expend_ccaa_clean = pd.concat([special_rows, turism_expend_ccaa_filtered], axis = 0)
display(turism_expend_ccaa_clean)

,Origin,Fecha,Valor,Expenditure_type
0,Total Nacional,2022-06-01,8992.53,Gasto total
1,Total Nacional,2022-05-01,8022.73,Gasto total
2,Total Nacional,2022-04-01,6900.61,Gasto total
3,Total Nacional,2022-03-01,5069.23,Gasto total
4,Total Nacional,2022-02-01,3756.86,Gasto total
...,...,...,...,...
2587,Otras Comunidades Autónomas,2016-02-01,6.86,Duración media de los viajes
2588,Otras Comunidades Autónomas,2016-01-01,10.46,Duración media de los viajes
2589,Otras Comunidades Autónomas,2015-12-01,10.01,Duración media de los viajes
2590,Otras Comunidades Autónomas,2015-11-01,7.10,Duración media de los viajes
2591,Otras Comunidades Autónomas,2015-10-01,7.92,Duración media de los viajes

In [45]:
turism_expend_ccaa_clean['Origin'].value_counts()

 Total Nacional                324
Andalucía                      324
Balears, Illes                 324
Canarias                       324
Cataluña                       324
Comunitat Valenciana           324
Madrid, Comunidad de           324
Otras Comunidades Autónomas    324
Name: Origin, dtype: int64

In [46]:
turism_expend_ccaa_clean.isna().sum()

Origin              0
Fecha               0
Valor               0
Expenditure_type    0
dtype: int64

In [47]:
Fsta

### Estadística: Número de etapas de los viajes y pernoctaciones según comunidad autónoma

Fuente: https://www.ine.es/jaxiT3/Datos.htm?t=23999

In [48]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/13949?date=20151001:20220601'

turism_nights_ccaa = pd.read_json(url)

# Salvamos el dataset sucio como Excel
file_name = 'turism_nights_ccaa.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_nights_ccaa.to_excel(path+file_name)

In [49]:
turism_nights_ccaa.Nombre.unique()

array(['Total Nacional. Turista. Dato base. Etapas. ',
       'Total Nacional. Turista. Dato base. Pernoctaciones. ',
       'Total Nacional. Turista. Tasa de variación anual. Etapas. ',
       'Total Nacional. Turista. Tasa de variación anual. Pernoctaciones. ',
       'Andalucía. Turista. Dato base. Etapas. ',
       'Andalucía. Turista. Dato base. Pernoctaciones. ',
       'Andalucía. Turista. Tasa de variación anual. Etapas. ',
       'Andalucía. Turista. Tasa de variación anual. Pernoctaciones. ',
       'Balears, Illes. Turista. Dato base. Etapas. ',
       'Balears, Illes. Turista. Dato base. Pernoctaciones. ',
       'Balears, Illes. Turista. Tasa de variación anual. Etapas. ',
       'Balears, Illes. Turista. Tasa de variación anual. Pernoctaciones. ',
       'Canarias. Turista. Dato base. Etapas. ',
       'Canarias. Turista. Dato base. Pernoctaciones. ',
       'Canarias. Turista. Tasa de variación anual. Etapas. ',
       'Canarias. Turista. Tasa de variación anual. Pernoctaciones. ',
       'Cataluña. Turista. Dato base. Etapas. ',
       'Cataluña. Turista. Dato base. Pernoctaciones. ',
       'Cataluña. Turista. Tasa de variación anual. Etapas. ',
       'Cataluña. Turista. Tasa de variación anual. Pernoctaciones. ',
       'Comunitat Valenciana. Turista. Dato base. Etapas. ',
       'Comunitat Valenciana. Turista. Dato base. Pernoctaciones. ',
       'Comunitat Valenciana. Turista. Tasa de variación anual. Etapas. ',
       'Comunitat Valenciana. Turista. Tasa de variación anual. Pernoctaciones. ',
       'Madrid, Comunidad de. Turista. Dato base. Etapas. ',
       'Madrid, Comunidad de. Turista. Dato base. Pernoctaciones. ',
       'Madrid, Comunidad de. Turista. Tasa de variación anual. Etapas. ',
       'Madrid, Comunidad de. Turista. Tasa de variación anual. Pernoctaciones. ',
       'Otras Comunidades Autónomas. Turista. Dato base. Etapas. ',
       'Otras Comunidades Autónomas. Turista. Dato base. Pernoctaciones. ',
       'Otras Comunidades Autónomas. Turista. Tasa de variación anual. Etapas. ',
       'Otras Comunidades Autónomas. Turista. Tasa de variación anual. Pernoctaciones. '],
      dtype=object)

In [50]:
turism_nights_ccaa = turism_nights_ccaa.loc[turism_nights_ccaa['Nombre'].str.contains('Dato base. Pernoctaciones')]
turism_nights_ccaa.Nombre.unique()

array(['Total Nacional. Turista. Dato base. Pernoctaciones. ',
       'Andalucía. Turista. Dato base. Pernoctaciones. ',
       'Balears, Illes. Turista. Dato base. Pernoctaciones. ',
       'Canarias. Turista. Dato base. Pernoctaciones. ',
       'Cataluña. Turista. Dato base. Pernoctaciones. ',
       'Comunitat Valenciana. Turista. Dato base. Pernoctaciones. ',
       'Madrid, Comunidad de. Turista. Dato base. Pernoctaciones. ',
       'Otras Comunidades Autónomas. Turista. Dato base. Pernoctaciones. '],
      dtype=object)

In [51]:
turism_nights_ccaa_filtered = normalize_json(turism_nights_ccaa)
turism_nights_ccaa_filtered.head()

                                              Origin       Fecha       Valor
0  Total Nacional. Turista. Dato base. Pernoctaci...  2022-06-01  51536027.0
1  Total Nacional. Turista. Dato base. Pernoctaci...  2022-05-01  45405127.0
2  Total Nacional. Turista. Dato base. Pernoctaci...  2022-04-01  44527628.0
3  Total Nacional. Turista. Dato base. Pernoctaci...  2022-03-01  32273946.0
4  Total Nacional. Turista. Dato base. Pernoctaci...  2022-02-01  27616893.0

In [52]:
turism_nights_ccaa_filtered['Origin'] = turism_nights_ccaa_filtered['Origin'].apply(lambda string: string.split(".")[0])
turism_nights_ccaa_filtered['Origin'].unique()

array(['Total Nacional', 'Andalucía', 'Balears, Illes', 'Canarias',
       'Cataluña', 'Comunitat Valenciana', 'Madrid, Comunidad de',
       'Otras Comunidades Autónomas'], dtype=object)

In [53]:
turism_nights_ccaa_filtered.isna().sum()

Origin    0
Fecha     0
Valor     0
dtype: int64

In [54]:
# Salvamos el dataset limpio como archivo Excel
file_name = 'turism_nights_ccaa.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_nights_ccaa_filtered.to_excel(path+file_name)

### Estadística: Gasto de los turistas internacionales según país de residencia
Unidades: €, Millones €, Días, Tasas

Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=23994

In [55]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/23994?date=20150101:20220601'

turism_expend_by_origin = pd.read_json(url)

# Salvamos el dataset sucio como Excel
file_name = 'turism_expend_by_origin.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_expend_by_origin.to_excel(path+file_name)

In [56]:
turism_expend_by_origin.Nombre.unique()

array(['Total. Turista. Gasto total. Total Nacional. Dato base. ',
       'Total. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Total. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Total. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Total. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Total. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Total. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Alemania. Turista. Gasto total. Total Nacional. Dato base. ',
       'Alemania. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Alemania. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Alemania. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Alemania. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Alemania. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Alemania. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Bélgica. Turista. Gasto total. Total Nacional. Dato base. ',
       'Bélgica. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Bélgica. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Bélgica. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Bélgica. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Bélgica. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Bélgica. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Bélgica. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Francia. Turista. Gasto total. Total Nacional. Dato base. ',
       'Francia. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Francia. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Francia. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Francia. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Francia. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Francia. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Francia. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Irlanda. Turista. Gasto total. Total Nacional. Dato base. ',
       'Irlanda. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Irlanda. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Irlanda. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Irlanda. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Irlanda. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Irlanda. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Irlanda. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Italia. Turista. Gasto total. Total Nacional. Dato base. ',
       'Italia. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Italia. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Italia. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Italia. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Italia. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Italia. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Italia. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Países Bajos. Turista. Gasto total. Total Nacional. Dato base. ',
       'Países Bajos. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Países Bajos. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Países Bajos. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Países Bajos. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Países Bajos. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Países Bajos. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Países Bajos. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto total. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Portugal. Turista. Gasto total. Total Nacional. Dato base. ',
       'Portugal. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Portugal. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Portugal. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Portugal. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Portugal. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Portugal. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Portugal. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto total. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Reino Unido. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Rusia. Turista. Gasto total. Total Nacional. Dato base. ',
       'Rusia. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Rusia. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Rusia. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Rusia. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Rusia. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Rusia. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Rusia. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Suiza. Turista. Gasto total. Total Nacional. Dato base. ',
       'Suiza. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Suiza. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Suiza. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Suiza. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Suiza. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Suiza. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Suiza. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Europa menos UE28. Turista. Gasto total. Total Nacional. Dato base. ',
       'Europa menos UE28. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Europa menos UE28. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Europa menos UE28. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Europa menos UE28. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Europa menos UE28. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Europa menos UE28. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Europa menos UE28. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Estados Unidos de América. Turista. Gasto total. Total Nacional. Dato base. ',
       'Estados Unidos de América. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Estados Unidos de América. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Estados Unidos de América. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Estados Unidos de América. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Estados Unidos de América. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Estados Unidos de América. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Estados Unidos de América. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Resto América. Turista. Gasto total. Total Nacional. Dato base. ',
       'Resto América. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Resto América. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Resto América. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Resto América. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Resto América. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Resto América. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Resto América. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Resto del Mundo. Turista. Gasto total. Total Nacional. Dato base. ',
       'Resto del Mundo. Turista. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Resto del Mundo. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Resto del Mundo. Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Resto del Mundo. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Resto del Mundo. Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Resto del Mundo. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Resto del Mundo. Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. '],
      dtype=object)

In [57]:
turism_expend_by_origin = turism_expend_by_origin.loc[turism_expend_by_origin['Nombre'].str.contains('Dato base.')]
turism_expend_by_origin.Nombre.unique()

array(['Total. Turista. Gasto total. Total Nacional. Dato base. ',
       'Total. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Total. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Total. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Alemania. Turista. Gasto total. Total Nacional. Dato base. ',
       'Alemania. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Alemania. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Alemania. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Bélgica. Turista. Gasto total. Total Nacional. Dato base. ',
       'Bélgica. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Bélgica. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Bélgica. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Francia. Turista. Gasto total. Total Nacional. Dato base. ',
       'Francia. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Francia. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Francia. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Irlanda. Turista. Gasto total. Total Nacional. Dato base. ',
       'Irlanda. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Irlanda. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Irlanda. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Italia. Turista. Gasto total. Total Nacional. Dato base. ',
       'Italia. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Italia. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Italia. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Países Bajos. Turista. Gasto total. Total Nacional. Dato base. ',
       'Países Bajos. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Países Bajos. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Países Bajos. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Gasto total. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Países Nórdicos. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Portugal. Turista. Gasto total. Total Nacional. Dato base. ',
       'Portugal. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Portugal. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Portugal. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Gasto total. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Reino Unido. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Rusia. Turista. Gasto total. Total Nacional. Dato base. ',
       'Rusia. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Rusia. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Rusia. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Suiza. Turista. Gasto total. Total Nacional. Dato base. ',
       'Suiza. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Suiza. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Suiza. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Europa menos UE28. Turista. Gasto total. Total Nacional. Dato base. ',
       'Europa menos UE28. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Europa menos UE28. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Europa menos UE28. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Estados Unidos de América. Turista. Gasto total. Total Nacional. Dato base. ',
       'Estados Unidos de América. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Estados Unidos de América. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Estados Unidos de América. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Resto América. Turista. Gasto total. Total Nacional. Dato base. ',
       'Resto América. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Resto América. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Resto América. Turista. Duración media de los viajes. Total Nacional. Dato base. ',
       'Resto del Mundo. Turista. Gasto total. Total Nacional. Dato base. ',
       'Resto del Mundo. Turista. Gasto medio por persona. Total Nacional. Dato base. ',
       'Resto del Mundo. Turista. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Resto del Mundo. Turista. Duración media de los viajes. Total Nacional. Dato base. '],
      dtype=object)

In [58]:
turism_expend_by_origin_filtered = normalize_json(turism_expend_by_origin)
turism_expend_by_origin_filtered.head()

                                              Origin       Fecha     Valor
0  Total. Turista. Gasto total. Total Nacional. D...  2021-01-01  34903.37
1  Total. Turista. Gasto total. Total Nacional. D...  2020-01-01  19786.78
2  Total. Turista. Gasto total. Total Nacional. D...  2019-01-01  91911.97
3  Total. Turista. Gasto total. Total Nacional. D...  2018-01-01  89750.75
4  Total. Turista. Gasto total. Total Nacional. D...  2017-01-01  87003.93

In [59]:
turism_expend_by_origin_filtered['Expenditure_type'] = turism_expend_by_origin_filtered['Origin']

turism_expend_by_origin_filtered['Origin'] = turism_expend_by_origin_filtered['Origin'].apply(lambda string: string.split(".")[0])
turism_expend_by_origin_filtered['Expenditure_type'] = turism_expend_by_origin_filtered['Expenditure_type'].apply(lambda string: string.split(".")[2])
turism_expend_by_origin_filtered.head()

  Origin       Fecha     Valor Expenditure_type
0  Total  2021-01-01  34903.37      Gasto total
1  Total  2020-01-01  19786.78      Gasto total
2  Total  2019-01-01  91911.97      Gasto total
3  Total  2018-01-01  89750.75      Gasto total
4  Total  2017-01-01  87003.93      Gasto total

In [60]:
turism_expend_by_origin_filtered.isna().sum()

Origin              0
Fecha               0
Valor               0
Expenditure_type    0
dtype: int64

In [61]:
# Salvamos el dataset limpio como archivo Excel
file_name = 'turism_expend_by_origin.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_expend_by_origin_filtered.to_excel(path+file_name)

## Encuesta: Gasto de los turistas internacionales según tipo de alojamiento principal
Unidades: €, Millones €, Días, Tasas

Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=10836

In [62]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/23993?date=20150101:20220601'

turism_expend_by_stay = pd.read_json(url)

# Salvamos el dataset sucio como Excel
file_name = 'turism_expend_by_stay.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_expend_by_stay.to_excel(path+file_name)

In [63]:
turism_expend_by_stay.Nombre.unique()

array(['Turista. Total. Gasto total. Total Nacional. Dato base. ',
       'Turista. Total. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Total. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Total. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Total. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Total. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Total. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Total. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. De mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. De mercado. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. De mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. De mercado. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. De mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. De mercado. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. De mercado. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. De mercado. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. Hoteles o apartahotel. Gasto total. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Hoteles o apartahotel. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Hoteles o apartahotel. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Hoteles o apartahotel. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Hoteles o apartahotel. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en alquiler. Gasto total. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en alquiler. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en alquiler. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en alquiler. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Vivienda en alquiler. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de mercado. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Resto de mercado. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. No de mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. No de mercado. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. No de mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. No de mercado. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. No de mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. No de mercado. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. No de mercado. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. No de mercado. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en propiedad. Gasto total. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en propiedad. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en propiedad. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda en propiedad. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Vivienda en propiedad. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda de familiares o amigos. Gasto total. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda de familiares o amigos. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda de familiares o amigos. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Vivienda de familiares o amigos. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Vivienda de familiares o amigos. Duración media de los viajes. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de no mercado. Gasto total. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Gasto total. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de no mercado. Gasto medio por persona. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Gasto medio por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de no mercado. Gasto medio diario por persona. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. ',
       'Turista. Resto de no mercado. Duración media de los viajes. Total Nacional. Dato base. ',
       'Turista. Resto de no mercado. Duración media de los viajes. Total Nacional. Tasa de variación anual. '],
      dtype=object)

In [64]:
turism_expend_by_stay = turism_expend_by_stay.loc[turism_expend_by_stay['Nombre'].str.contains('Dato base.')]

In [65]:
turism_expend_by_stay_filtered = normalize_json(turism_expend_by_stay)
turism_expend_by_stay_filtered.head()

                                              Origin       Fecha     Valor
0  Turista. Total. Gasto total. Total Nacional. D...  2021-01-01  34903.37
1  Turista. Total. Gasto total. Total Nacional. D...  2020-01-01  19786.78
2  Turista. Total. Gasto total. Total Nacional. D...  2019-01-01  91911.97
3  Turista. Total. Gasto total. Total Nacional. D...  2018-01-01  89750.75
4  Turista. Total. Gasto total. Total Nacional. D...  2017-01-01  87003.93

In [66]:
turism_expend_by_stay_filtered['Expenditure_type'] = turism_expend_by_stay_filtered['Origin'].apply(lambda string: string.split(".")[2])
turism_expend_by_stay_filtered['Origin'] = turism_expend_by_stay_filtered['Origin'].apply(lambda string: string.split(".")[1])
turism_expend_by_stay_filtered.head()

   Origin       Fecha     Valor Expenditure_type
0   Total  2021-01-01  34903.37      Gasto total
1   Total  2020-01-01  19786.78      Gasto total
2   Total  2019-01-01  91911.97      Gasto total
3   Total  2018-01-01  89750.75      Gasto total
4   Total  2017-01-01  87003.93      Gasto total

In [67]:
turism_expend_by_stay_filtered.isna().sum()

Origin              0
Fecha               0
Valor               0
Expenditure_type    0
dtype: int64

In [68]:
# Salvamos el dataset limpio como archivo Excel
file_name = 'turism_expend_by_stay.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_expend_by_stay_filtered.to_excel(path+file_name)

## Encuesta: Gasto de los turistas internacionales según sexo y edad
Unidades: €, Millones €, Días, Tasas

Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=24744

In [69]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/24744?date=20150101:20220601'
turism_expend_by_gender_sex = pd.read_json(url)

# Salvamos el dataset sucio como Excel
file_name = 'turism_expend_by_gender_sex.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_expend_by_gender_sex.to_excel(path+file_name)

In [70]:
turism_expend_by_gender_sex.Nombre.unique()

array(['Turista. Gasto total. Total Nacional. Dato base. Total. Todas las edades. ',
       'Turista. Gasto total. Total Nacional. Dato base. Total. De 15 a 24 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Total. De 25 a 44 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Total. De 45 a 64 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Total. 65 y más años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. Todas las edades. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. De 15 a 24 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. De 25 a 44 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. De 45 a 64 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. 65 y más años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. Todas las edades. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. De 15 a 24 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. De 25 a 44 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. De 45 a 64 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. 65 y más años. ',
       'Turista. Gasto total. Total Nacional. Tasa de variación anual. Total. Todas las edades. ',
       'Turista. Gasto total. Total Nacional. Tasa de variación anual. Total. De 15 a 24 años. ',
       'Turista. Gasto total. Total Nacional. Tasa de variación anual. Total. De 25 a 44 años. ',
       'Turista. Gasto total. Total Nacional. Tasa de variación anual. Total. De 45 a 64 años. ',
       'Turista. Gasto total. Total Nacional. Tasa de variación anual. Total. 65 y más años. ',
       'Turista. Gasto total. Total Nacional. Tasa de variación anual. Hombres. Todas las edades. ',
       'Turista. Gasto total. Total Nacional. Tasa de variación anual. Hombres. De 15 a 24 años. ',
       'Turista. Gasto total. Total Nacional. Tasa de variación anual. Hombres. De 25 a 44 años. ',
       'Turista. Gasto total. Total Nacional. Tasa de variación anual. Hombres. De 45 a 64 años. ',
       'Turista. Gasto total. Total Nacional. Tasa de variación anual. Hombres. 65 y más años. ',
       'Turista. Gasto total. Total Nacional. Tasa de variación anual. Mujeres. Todas las edades. ',
       'Turista. Gasto total. Total Nacional. Tasa de variación anual. Mujeres. De 15 a 24 años. ',
       'Turista. Gasto total. Total Nacional. Tasa de variación anual. Mujeres. De 25 a 44 años. ',
       'Turista. Gasto total. Total Nacional. Tasa de variación anual. Mujeres. De 45 a 64 años. ',
       'Turista. Gasto total. Total Nacional. Tasa de variación anual. Mujeres. 65 y más años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. Todas las edades. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. De 15 a 24 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. De 25 a 44 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. De 45 a 64 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. 65 y más años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. Todas las edades. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. De 15 a 24 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. De 25 a 44 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. De 45 a 64 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. 65 y más años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. Todas las edades. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. De 15 a 24 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. De 25 a 44 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. De 45 a 64 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. 65 y más años. ',
       'Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. Total. Todas las edades. ',
       'Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. Total. De 15 a 24 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. Total. De 25 a 44 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. Total. De 45 a 64 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. Total. 65 y más años. ',
       'Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. Hombres. Todas las edades. ',
       'Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. Hombres. De 15 a 24 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. Hombres. De 25 a 44 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. Hombres. De 45 a 64 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. Hombres. 65 y más años. ',
       'Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. Mujeres. Todas las edades. ',
       'Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. Mujeres. De 15 a 24 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. Mujeres. De 25 a 44 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. Mujeres. De 45 a 64 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Tasa de variación anual. Mujeres. 65 y más años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. Todas las edades. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. De 15 a 24 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. De 25 a 44 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. De 45 a 64 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. 65 y más años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. Todas las edades. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. De 15 a 24 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. De 25 a 44 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. De 45 a 64 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. 65 y más años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. Todas las edades. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. De 15 a 24 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. De 25 a 44 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. De 45 a 64 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. 65 y más años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. Total. Todas las edades. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. Total. De 15 a 24 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. Total. De 25 a 44 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. Total. De 45 a 64 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. Total. 65 y más años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. Hombres. Todas las edades. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. Hombres. De 15 a 24 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. Hombres. De 25 a 44 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. Hombres. De 45 a 64 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. Hombres. 65 y más años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. Mujeres. Todas las edades. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. Mujeres. De 15 a 24 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. Mujeres. De 25 a 44 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. Mujeres. De 45 a 64 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Tasa de variación anual. Mujeres. 65 y más años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. Todas las edades. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. De 15 a 24 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. De 25 a 44 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. De 45 a 64 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. 65 y más años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. Todas las edades. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. De 15 a 24 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. De 25 a 44 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. De 45 a 64 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. 65 y más años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. Todas las edades. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. De 15 a 24 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. De 25 a 44 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. De 45 a 64 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. 65 y más años. ',
       'Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. Total. Todas las edades. ',
       'Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. Total. De 15 a 24 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. Total. De 25 a 44 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. Total. De 45 a 64 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. Total. 65 y más años. ',
       'Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. Hombres. Todas las edades. ',
       'Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. Hombres. De 15 a 24 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. Hombres. De 25 a 44 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. Hombres. De 45 a 64 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. Hombres. 65 y más años. ',
       'Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. Mujeres. Todas las edades. ',
       'Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. Mujeres. De 15 a 24 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. Mujeres. De 25 a 44 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. Mujeres. De 45 a 64 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Tasa de variación anual. Mujeres. 65 y más años. '],
      dtype=object)

In [71]:
turism_expend_by_gender_sex = turism_expend_by_gender_sex.loc[turism_expend_by_gender_sex['Nombre'].str.contains('Dato base.')]

In [72]:
turism_expend_by_gender_sex.Nombre.unique()

array(['Turista. Gasto total. Total Nacional. Dato base. Total. Todas las edades. ',
       'Turista. Gasto total. Total Nacional. Dato base. Total. De 15 a 24 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Total. De 25 a 44 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Total. De 45 a 64 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Total. 65 y más años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. Todas las edades. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. De 15 a 24 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. De 25 a 44 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. De 45 a 64 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Hombres. 65 y más años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. Todas las edades. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. De 15 a 24 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. De 25 a 44 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. De 45 a 64 años. ',
       'Turista. Gasto total. Total Nacional. Dato base. Mujeres. 65 y más años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. Todas las edades. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. De 15 a 24 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. De 25 a 44 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. De 45 a 64 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Total. 65 y más años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. Todas las edades. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. De 15 a 24 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. De 25 a 44 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. De 45 a 64 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Hombres. 65 y más años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. Todas las edades. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. De 15 a 24 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. De 25 a 44 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. De 45 a 64 años. ',
       'Turista. Gasto medio por persona. Total Nacional. Dato base. Mujeres. 65 y más años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. Todas las edades. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. De 15 a 24 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. De 25 a 44 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. De 45 a 64 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Total. 65 y más años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. Todas las edades. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. De 15 a 24 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. De 25 a 44 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. De 45 a 64 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Hombres. 65 y más años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. Todas las edades. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. De 15 a 24 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. De 25 a 44 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. De 45 a 64 años. ',
       'Turista. Gasto medio diario por persona. Total Nacional. Dato base. Mujeres. 65 y más años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. Todas las edades. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. De 15 a 24 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. De 25 a 44 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. De 45 a 64 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Total. 65 y más años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. Todas las edades. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. De 15 a 24 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. De 25 a 44 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. De 45 a 64 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Hombres. 65 y más años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. Todas las edades. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. De 15 a 24 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. De 25 a 44 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. De 45 a 64 años. ',
       'Turista. Duración media de los viajes. Total Nacional. Dato base. Mujeres. 65 y más años. '],
      dtype=object)

In [73]:
turism_expend_by_gender_sex_filtered = normalize_json(turism_expend_by_gender_sex)

In [74]:
turism_expend_by_gender_sex_filtered['Sex'] = turism_expend_by_gender_sex_filtered['Origin'].apply(lambda string: string.split(".")[4])
turism_expend_by_gender_sex_filtered['Age'] = turism_expend_by_gender_sex_filtered['Origin'].apply(lambda string: string.split(".")[5])
turism_expend_by_gender_sex_filtered['Expenditure_type'] = turism_expend_by_gender_sex_filtered['Origin'].apply(lambda string: string.split(".")[1])
turism_expend_by_gender_sex_filtered['Origin'] = turism_expend_by_gender_sex_filtered['Origin'].apply(lambda string: string.split(".")[2])

turism_expend_by_gender_sex_filtered.head()

,Origin,Fecha,Valor,Sex,Age,Expenditure_type
0,Total Nacional,2021-01-01,34903.37,Total,Todas las edades,Gasto total
1,Total Nacional,2020-01-01,19786.78,Total,Todas las edades,Gasto total
2,Total Nacional,2019-01-01,91911.97,Total,Todas las edades,Gasto total
3,Total Nacional,2018-01-01,89750.75,Total,Todas las edades,Gasto total
4,Total Nacional,2017-01-01,87003.93,Total,Todas las edades,Gasto total

In [75]:
turism_expend_by_gender_sex_filtered = turism_expend_by_gender_sex_filtered.drop('Origin', axis=1)

In [76]:
turism_expend_by_gender_sex_filtered.isna().sum()

Fecha               0
Valor               0
Sex                 0
Age                 0
Expenditure_type    0
dtype: int64

In [77]:
# Salvamos el dataset limpio como archivo Excel
file_name = 'turism_expend_by_gender_sex.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_expend_by_gender_sex_filtered.to_excel(path+file_name)

## Encuesta: Gasto de los turistas internacionales según partidas de gasto
Unidades: €, Millones €, Días, Tasas

Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=13938

In [78]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/23997?date=20150101:20220601'
turism_expend_by_theme = pd.read_json(url)

# Salvamos el dataset sucio como Excel
file_name = 'turism_expend_by_theme.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_expend_by_theme.to_excel(path+file_name)

In [79]:
turism_expend_by_theme.Nombre.unique()

array(['Total Nacional. Turista. Gasto total. Dato base. ',
       'Total Nacional. Turista. Gasto total. Tasa de variación anual. ',
       'Turista. Gasto en paquete turístico. Total Nacional. Dato base. ',
       'Turista. Gasto en paquete turístico. Total Nacional. Tasa de variación anual. ',
       'Turista. Gasto no incluido en paquete turístico. Total Nacional. Dato base. ',
       'Turista. Gasto no incluido en paquete turístico. Total Nacional. Tasa de variación anual. ',
       'Turista. Gasto en transporte internacional. Total Nacional. Dato base. ',
       'Turista. Gasto en transporte internacional. Total Nacional. Tasa de variación anual. ',
       'Turista. Gasto en alojamiento. Total Nacional. Dato base. ',
       'Turista. Gasto en alojamiento. Total Nacional. Tasa de variación anual. ',
       'Turista. Gasto en manutención. Total Nacional. Dato base. ',
       'Turista. Gasto en manutención. Total Nacional. Tasa de variación anual. ',
       'Turista. Gasto en actividades. Total Nacional. Dato base. ',
       'Turista. Gasto en actividades. Total Nacional. Tasa de variación anual. ',
       'Turista. Otros gastos. Total Nacional. Dato base. ',
       'Turista. Otros gastos. Total Nacional. Tasa de variación anual. '],
      dtype=object)

In [80]:
turism_expend_by_theme = turism_expend_by_theme.loc[turism_expend_by_theme.Nombre.str.contains('Dato base.')]

In [81]:
turism_expend_by_theme.Nombre.unique()

array(['Total Nacional. Turista. Gasto total. Dato base. ',
       'Turista. Gasto en paquete turístico. Total Nacional. Dato base. ',
       'Turista. Gasto no incluido en paquete turístico. Total Nacional. Dato base. ',
       'Turista. Gasto en transporte internacional. Total Nacional. Dato base. ',
       'Turista. Gasto en alojamiento. Total Nacional. Dato base. ',
       'Turista. Gasto en manutención. Total Nacional. Dato base. ',
       'Turista. Gasto en actividades. Total Nacional. Dato base. ',
       'Turista. Otros gastos. Total Nacional. Dato base. '], dtype=object)

In [82]:
turism_expend_by_theme_filtered = normalize_json(turism_expend_by_theme)

In [83]:
turism_expend_by_theme_filtered.head()

                                              Origin       Fecha     Valor
0  Total Nacional. Turista. Gasto total. Dato base.   2021-01-01  34903.37
1  Total Nacional. Turista. Gasto total. Dato base.   2020-01-01  19786.78
2  Total Nacional. Turista. Gasto total. Dato base.   2019-01-01  91911.97
3  Total Nacional. Turista. Gasto total. Dato base.   2018-01-01  89750.75
4  Total Nacional. Turista. Gasto total. Dato base.   2017-01-01  87003.93

In [84]:
turism_expend_by_theme_filtered['Origin'] = turism_expend_by_theme_filtered['Origin'].apply(lambda string: string.split(".")[2])
turism_expend_by_theme_filtered = turism_expend_by_theme_filtered.rename(columns = {'Origin':'Expenditure_type'})
turism_expend_by_theme_filtered.head()

  Expenditure_type       Fecha     Valor
0      Gasto total  2021-01-01  34903.37
1      Gasto total  2020-01-01  19786.78
2      Gasto total  2019-01-01  91911.97
3      Gasto total  2018-01-01  89750.75
4      Gasto total  2017-01-01  87003.93

In [85]:
turism_expend_by_theme_filtered.isna().sum()

Expenditure_type    0
Fecha               0
Valor               0
dtype: int64

In [86]:
# Salvamos el dataset limpio como archivo Excel
file_name = 'turism_expend_by_theme.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_expend_by_theme_filtered.to_excel(path+file_name)

## Encuesta: Número de alojamientos turísticos y noches ocupados por residencia del viajero. Nacional y comunidades autónomas

Fuente: https://ine.es/jaxiT3/Tabla.htm?t=48423

In [87]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/48423?date=20181001:20211201'
turism_nights_apartments = pd.read_json(url)

# Salvamos el dataset sucio como Excel
file_name = 'turism_nights_apartments.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_nights_apartments.to_excel(path+file_name)

In [88]:
turism_nights_apartments.Nombre.unique()

array(['Número de alojamientos turísticos ocupados. Total. Total Nacional. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Andalucía. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Aragón. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Asturias, Principado de. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Balears, Illes. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Canarias. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Cantabria. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Castilla y León. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Castilla - La Mancha. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Cataluña. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Comunitat Valenciana. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Extremadura. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Galicia. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Madrid, Comunidad de. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Murcia, Región de. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Navarra, Comunidad Foral de. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. País Vasco. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Rioja, La. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Ceuta. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Melilla. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Total Nacional. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Andalucía. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Aragón. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Asturias, Principado de. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Balears, Illes. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Canarias. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Cantabria. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Castilla y León. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Castilla - La Mancha. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Cataluña. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Comunitat Valenciana. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Extremadura. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Galicia. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Madrid, Comunidad de. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Murcia, Región de. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Navarra, Comunidad Foral de. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. País Vasco. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Rioja, La. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Ceuta. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Melilla. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Total Nacional. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Andalucía. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Aragón. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Asturias, Principado de. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Balears, Illes. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Canarias. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Cantabria. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Castilla y León. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Castilla - La Mancha. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Cataluña. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Comunitat Valenciana. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Extremadura. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Galicia. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Madrid, Comunidad de. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Murcia, Región de. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Navarra, Comunidad Foral de. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. País Vasco. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Rioja, La. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Ceuta. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Melilla. Dato base. ',
       'Número de noches ocupadas. Total. Total Nacional. Dato base. ',
       'Número de noches ocupadas. Total. Andalucía. Dato base. ',
       'Número de noches ocupadas. Total. Aragón. Dato base. ',
       'Número de noches ocupadas. Total. Asturias, Principado de. Dato base. ',
       'Número de noches ocupadas. Total. Balears, Illes. Dato base. ',
       'Número de noches ocupadas. Total. Canarias. Dato base. ',
       'Número de noches ocupadas. Total. Cantabria. Dato base. ',
       'Número de noches ocupadas. Total. Castilla y León. Dato base. ',
       'Número de noches ocupadas. Total. Castilla - La Mancha. Dato base. ',
       'Número de noches ocupadas. Total. Cataluña. Dato base. ',
       'Número de noches ocupadas. Total. Comunitat Valenciana. Dato base. ',
       'Número de noches ocupadas. Total. Extremadura. Dato base. ',
       'Número de noches ocupadas. Total. Galicia. Dato base. ',
       'Número de noches ocupadas. Total. Madrid, Comunidad de. Dato base. ',
       'Número de noches ocupadas. Total. Murcia, Región de. Dato base. ',
       'Número de noches ocupadas. Total. Navarra, Comunidad Foral de. Dato base. ',
       'Número de noches ocupadas. Total. País Vasco. Dato base. ',
       'Número de noches ocupadas. Total. Rioja, La. Dato base. ',
       'Número de noches ocupadas. Total. Ceuta. Dato base. ',
       'Número de noches ocupadas. Total. Melilla. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Total Nacional. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Andalucía. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Aragón. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Asturias, Principado de. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Balears, Illes. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Canarias. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Cantabria. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Castilla y León. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Castilla - La Mancha. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Cataluña. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Comunitat Valenciana. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Extremadura. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Galicia. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Madrid, Comunidad de. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Murcia, Región de. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Navarra, Comunidad Foral de. Dato base. ',
       'Número de noches ocupadas. Residentes en España. País Vasco. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Rioja, La. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Ceuta. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Melilla. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Total Nacional. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Andalucía. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Aragón. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Asturias, Principado de. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Balears, Illes. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Canarias. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Cantabria. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Castilla y León. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Castilla - La Mancha. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Cataluña. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Comunitat Valenciana. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Extremadura. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Galicia. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Madrid, Comunidad de. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Murcia, Región de. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Navarra, Comunidad Foral de. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. País Vasco. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Rioja, La. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Ceuta. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Melilla. Dato base. ',
       'Estancia media. Total. Total Nacional. Dato base. ',
       'Estancia media. Total. Andalucía. Dato base. ',
       'Estancia media. Total. Aragón. Dato base. ',
       'Estancia media. Total. Asturias, Principado de. Dato base. ',
       'Estancia media. Total. Balears, Illes. Dato base. ',
       'Estancia media. Total. Canarias. Dato base. ',
       'Estancia media. Total. Cantabria. Dato base. ',
       'Estancia media. Total. Castilla y León. Dato base. ',
       'Estancia media. Total. Castilla - La Mancha. Dato base. ',
       'Estancia media. Total. Cataluña. Dato base. ',
       'Estancia media. Total. Comunitat Valenciana. Dato base. ',
       'Estancia media. Total. Extremadura. Dato base. ',
       'Estancia media. Total. Galicia. Dato base. ',
       'Estancia media. Total. Madrid, Comunidad de. Dato base. ',
       'Estancia media. Total. Murcia, Región de. Dato base. ',
       'Estancia media. Total. Navarra, Comunidad Foral de. Dato base. ',
       'Estancia media. Total. País Vasco. Dato base. ',
       'Estancia media. Total. Rioja, La. Dato base. ',
       'Estancia media. Total. Ceuta. Dato base. ',
       'Estancia media. Total. Melilla. Dato base. ',
       'Estancia media. Residentes en España. Total Nacional. Dato base. ',
       'Estancia media. Residentes en España. Andalucía. Dato base. ',
       'Estancia media. Residentes en España. Aragón. Dato base. ',
       'Estancia media. Residentes en España. Asturias, Principado de. Dato base. ',
       'Estancia media. Residentes en España. Balears, Illes. Dato base. ',
       'Estancia media. Residentes en España. Canarias. Dato base. ',
       'Estancia media. Residentes en España. Cantabria. Dato base. ',
       'Estancia media. Residentes en España. Castilla y León. Dato base. ',
       'Estancia media. Residentes en España. Castilla - La Mancha. Dato base. ',
       'Estancia media. Residentes en España. Cataluña. Dato base. ',
       'Estancia media. Residentes en España. Comunitat Valenciana. Dato base. ',
       'Estancia media. Residentes en España. Extremadura. Dato base. ',
       'Estancia media. Residentes en España. Galicia. Dato base. ',
       'Estancia media. Residentes en España. Madrid, Comunidad de. Dato base. ',
       'Estancia media. Residentes en España. Murcia, Región de. Dato base. ',
       'Estancia media. Residentes en España. Navarra, Comunidad Foral de. Dato base. ',
       'Estancia media. Residentes en España. País Vasco. Dato base. ',
       'Estancia media. Residentes en España. Rioja, La. Dato base. ',
       'Estancia media. Residentes en España. Ceuta. Dato base. ',
       'Estancia media. Residentes en España. Melilla. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Total Nacional. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Andalucía. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Aragón. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Asturias, Principado de. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Balears, Illes. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Canarias. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Cantabria. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Castilla y León. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Castilla - La Mancha. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Cataluña. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Comunitat Valenciana. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Extremadura. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Galicia. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Madrid, Comunidad de. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Murcia, Región de. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Navarra, Comunidad Foral de. Dato base. ',
       'Estancia media. Residentes en el Extranjero. País Vasco. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Rioja, La. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Ceuta. Dato base. ',
       'Estancia media. Residentes en el Extranjero. Melilla. Dato base. '],
      dtype=object)

In [89]:
turism_nights_apartments_filtered = normalize_json(turism_nights_apartments)
turism_nights_apartments_filtered.head()

                                              Origin       Fecha     Valor
0  Número de alojamientos turísticos ocupados. To...  2021-12-01  460000.0
1  Número de alojamientos turísticos ocupados. To...  2021-11-01  403000.0
2  Número de alojamientos turísticos ocupados. To...  2021-10-01  583000.0
3  Número de alojamientos turísticos ocupados. To...  2021-09-01  596000.0
4  Número de alojamientos turísticos ocupados. To...  2021-08-01  890000.0

In [90]:
turism_nights_apartments_filtered['Category'] = turism_nights_apartments_filtered['Origin'].apply(lambda string: string.split(".")[0])
turism_nights_apartments_filtered['Residents'] = turism_nights_apartments_filtered['Origin'].apply(lambda string: string.split(".")[1])
turism_nights_apartments_filtered['CCAA'] = turism_nights_apartments_filtered['Origin'].apply(lambda string: string.split(".")[2])

turism_nights_apartments_filtered.head()

,Origin,Fecha,Valor,Category,Residents,CCAA
0,Número de alojamientos turísticos ocupados. To...,2021-12-01,460000.0,Número de alojamientos turísticos ocupados,Total,Total Nacional
1,Número de alojamientos turísticos ocupados. To...,2021-11-01,403000.0,Número de alojamientos turísticos ocupados,Total,Total Nacional
2,Número de alojamientos turísticos ocupados. To...,2021-10-01,583000.0,Número de alojamientos turísticos ocupados,Total,Total Nacional
3,Número de alojamientos turísticos ocupados. To...,2021-09-01,596000.0,Número de alojamientos turísticos ocupados,Total,Total Nacional
4,Número de alojamientos turísticos ocupados. To...,2021-08-01,890000.0,Número de alojamientos turísticos ocupados,Total,Total Nacional

In [91]:
turism_nights_apartments_filtered.shape

(7020, 6)

In [92]:
turism_nights_apartments_filtered = turism_nights_apartments_filtered.drop('Origin', axis=1)
turism_nights_apartments_filtered.head()

,Fecha,Valor,Category,Residents,CCAA
0,2021-12-01,460000.0,Número de alojamientos turísticos ocupados,Total,Total Nacional
1,2021-11-01,403000.0,Número de alojamientos turísticos ocupados,Total,Total Nacional
2,2021-10-01,583000.0,Número de alojamientos turísticos ocupados,Total,Total Nacional
3,2021-09-01,596000.0,Número de alojamientos turísticos ocupados,Total,Total Nacional
4,2021-08-01,890000.0,Número de alojamientos turísticos ocupados,Total,Total Nacional

In [93]:
turism_nights_apartments_filtered.isna().sum()

Fecha           0
Valor        1517
Category        0
Residents       0
CCAA            0
dtype: int64

In [94]:
missing_values = turism_nights_apartments_filtered.loc[turism_nights_apartments_filtered.Valor.isna()]

In [95]:
missing_values.count()

Fecha        1517
Valor           0
Category     1517
Residents    1517
CCAA         1517
dtype: int64

In [96]:
missing_values['CCAA'].value_counts()

 Melilla                        351
 Ceuta                          351
 Rioja, La                      143
 Navarra, Comunidad Foral de    119
 Extremadura                    110
 Asturias, Principado de         87
 Cantabria                       86
 Castilla - La Mancha            56
 Aragón                          47
 Murcia, Región de               45
 Castilla y León                 36
 Galicia                         30
 País Vasco                      29
 Balears, Illes                  17
 Canarias                         4
 Comunitat Valenciana             4
 Madrid, Comunidad de             2
Name: CCAA, dtype: int64

In [97]:
# No son hot topics, podemos eliminarlos.
missing_values_idx = missing_values.index
turism_nights_apartments_filtered = turism_nights_apartments_filtered.drop(missing_values_idx, axis=0).reset_index(drop=True)

In [98]:
turism_nights_apartments_filtered.isna().sum()

Fecha        0
Valor        0
Category     0
Residents    0
CCAA         0
dtype: int64

In [99]:
# Salvamos el dataset limpio como archivo Excel
file_name = 'turism_nights_apartments.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_nights_apartments_filtered.to_excel(path+file_name)

## Encuesta: Número de alojamientos turísticos y noches ocupados por residencia del viajero. Puntos turísticos.

Fuente: https://ine.es/jaxiT3/Tabla.htm?t=48424

In [100]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/48424?date=20181001:20211201'
turism_nights_apartments_hot_spots = pd.read_json(url)

# Salvamos el dataset sucio como Excel
file_name = 'turism_nights_apartments_hot_spots.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_nights_apartments_hot_spots.to_excel(path+file_name)

In [101]:
turism_nights_apartments_hot_spots.Nombre.unique()

array(['Número de alojamientos turísticos ocupados. Total. Alicante/Alacant. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Barcelona. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Benalmádena. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Benidorm. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Bilbao. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Cádiz. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Cartagena. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Chiclana de la Frontera. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Córdoba. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Coruña, A. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Donostia/San Sebastián. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Eivissa. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Elche/Elx. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Fuengirola. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Gijón. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Granada. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Jerez de la Frontera. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Madrid. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Málaga. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Marbella. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Murcia. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Oviedo. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Palma. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Palmas de Gran Canaria, Las. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Pamplona/Iruña. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Puerto de la Cruz. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Puerto de Santa María, El. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Salamanca. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Santa Cruz de Tenerife. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Santiago de Compostela. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Sevilla. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Toledo. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Torremolinos. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Torrevieja. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. València. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Valladolid. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Vigo. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Vitoria-Gasteiz. Dato base. ',
       'Número de alojamientos turísticos ocupados. Total. Zaragoza. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Alicante/Alacant. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Barcelona. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Benalmádena. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Benidorm. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Bilbao. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Cádiz. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Cartagena. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Chiclana de la Frontera. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Córdoba. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Coruña, A. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Donostia/San Sebastián. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Eivissa. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Elche/Elx. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Fuengirola. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Gijón. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Granada. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Jerez de la Frontera. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Madrid. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Málaga. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Marbella. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Murcia. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Oviedo. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Palma. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Palmas de Gran Canaria, Las. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Pamplona/Iruña. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Puerto de la Cruz. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Puerto de Santa María, El. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Salamanca. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Santa Cruz de Tenerife. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Santiago de Compostela. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Sevilla. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Toledo. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Torremolinos. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Torrevieja. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. València. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Valladolid. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Vigo. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Vitoria-Gasteiz. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en España. Zaragoza. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Alicante/Alacant. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Barcelona. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Benalmádena. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Benidorm. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Bilbao. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Cádiz. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Cartagena. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Chiclana de la Frontera. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Córdoba. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Coruña, A. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Donostia/San Sebastián. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Eivissa. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Elche/Elx. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Fuengirola. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Gijón. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Granada. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Jerez de la Frontera. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Madrid. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Málaga. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Marbella. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Murcia. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Oviedo. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Palma. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Palmas de Gran Canaria, Las. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Pamplona/Iruña. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Puerto de la Cruz. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Puerto de Santa María, El. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Salamanca. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Santa Cruz de Tenerife. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Santiago de Compostela. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Sevilla. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Toledo. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Torremolinos. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Torrevieja. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. València. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Valladolid. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Vigo. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Vitoria-Gasteiz. Dato base. ',
       'Número de alojamientos turísticos ocupados. Residentes en el Extranjero. Zaragoza. Dato base. ',
       'Número de noches ocupadas. Total. Alicante/Alacant. Dato base. ',
       'Número de noches ocupadas. Total. Barcelona. Dato base. ',
       'Número de noches ocupadas. Total. Benalmádena. Dato base. ',
       'Número de noches ocupadas. Total. Benidorm. Dato base. ',
       'Número de noches ocupadas. Total. Bilbao. Dato base. ',
       'Número de noches ocupadas. Total. Cádiz. Dato base. ',
       'Número de noches ocupadas. Total. Cartagena. Dato base. ',
       'Número de noches ocupadas. Total. Chiclana de la Frontera. Dato base. ',
       'Número de noches ocupadas. Total. Córdoba. Dato base. ',
       'Número de noches ocupadas. Total. Coruña, A. Dato base. ',
       'Número de noches ocupadas. Total. Donostia/San Sebastián. Dato base. ',
       'Número de noches ocupadas. Total. Eivissa. Dato base. ',
       'Número de noches ocupadas. Total. Elche/Elx. Dato base. ',
       'Número de noches ocupadas. Total. Fuengirola. Dato base. ',
       'Número de noches ocupadas. Total. Gijón. Dato base. ',
       'Número de noches ocupadas. Total. Granada. Dato base. ',
       'Número de noches ocupadas. Total. Jerez de la Frontera. Dato base. ',
       'Número de noches ocupadas. Total. Madrid. Dato base. ',
       'Número de noches ocupadas. Total. Málaga. Dato base. ',
       'Número de noches ocupadas. Total. Marbella. Dato base. ',
       'Número de noches ocupadas. Total. Murcia. Dato base. ',
       'Número de noches ocupadas. Total. Oviedo. Dato base. ',
       'Número de noches ocupadas. Total. Palma. Dato base. ',
       'Número de noches ocupadas. Total. Palmas de Gran Canaria, Las. Dato base. ',
       'Número de noches ocupadas. Total. Pamplona/Iruña. Dato base. ',
       'Número de noches ocupadas. Total. Puerto de la Cruz. Dato base. ',
       'Número de noches ocupadas. Total. Puerto de Santa María, El. Dato base. ',
       'Número de noches ocupadas. Total. Salamanca. Dato base. ',
       'Número de noches ocupadas. Total. Santa Cruz de Tenerife. Dato base. ',
       'Número de noches ocupadas. Total. Santiago de Compostela. Dato base. ',
       'Número de noches ocupadas. Total. Sevilla. Dato base. ',
       'Número de noches ocupadas. Total. Toledo. Dato base. ',
       'Número de noches ocupadas. Total. Torremolinos. Dato base. ',
       'Número de noches ocupadas. Total. Torrevieja. Dato base. ',
       'Número de noches ocupadas. Total. València. Dato base. ',
       'Número de noches ocupadas. Total. Valladolid. Dato base. ',
       'Número de noches ocupadas. Total. Vigo. Dato base. ',
       'Número de noches ocupadas. Total. Vitoria-Gasteiz. Dato base. ',
       'Número de noches ocupadas. Total. Zaragoza. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Alicante/Alacant. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Barcelona. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Benalmádena. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Benidorm. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Bilbao. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Cádiz. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Cartagena. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Chiclana de la Frontera. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Córdoba. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Coruña, A. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Donostia/San Sebastián. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Eivissa. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Elche/Elx. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Fuengirola. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Gijón. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Granada. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Jerez de la Frontera. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Madrid. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Málaga. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Marbella. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Murcia. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Oviedo. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Palma. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Palmas de Gran Canaria, Las. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Pamplona/Iruña. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Puerto de la Cruz. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Puerto de Santa María, El. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Salamanca. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Santa Cruz de Tenerife. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Santiago de Compostela. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Sevilla. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Toledo. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Torremolinos. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Torrevieja. Dato base. ',
       'Número de noches ocupadas. Residentes en España. València. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Valladolid. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Vigo. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Vitoria-Gasteiz. Dato base. ',
       'Número de noches ocupadas. Residentes en España. Zaragoza. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Alicante/Alacant. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Barcelona. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Benalmádena. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Benidorm. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Bilbao. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Cádiz. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Cartagena. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Chiclana de la Frontera. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Córdoba. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Coruña, A. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Donostia/San Sebastián. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Eivissa. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Elche/Elx. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Fuengirola. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Gijón. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Granada. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Jerez de la Frontera. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Madrid. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Málaga. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Marbella. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Murcia. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Oviedo. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Palma. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Palmas de Gran Canaria, Las. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Pamplona/Iruña. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Puerto de la Cruz. Dato base. ',
       'Número de noches ocupadas. Residentes en el Extranjero. Puerto de Santa María, El. Dato base. ',

In [102]:
turism_nights_apartments_hot_spots_filtered = normalize_json(turism_nights_apartments_hot_spots)

In [103]:
print(turism_nights_apartments_hot_spots_filtered.shape)
turism_nights_apartments_hot_spots_filtered.head()

(13689, 3)

                                              Origin       Fecha    Valor
0  Número de alojamientos turísticos ocupados. To...  2021-12-01   6000.0
1  Número de alojamientos turísticos ocupados. To...  2021-11-01   5000.0
2  Número de alojamientos turísticos ocupados. To...  2021-10-01   8000.0
3  Número de alojamientos turísticos ocupados. To...  2021-09-01   8000.0
4  Número de alojamientos turísticos ocupados. To...  2021-08-01  12000.0

In [104]:
turism_nights_apartments_hot_spots_filtered['Category'] = turism_nights_apartments_hot_spots_filtered['Origin'].apply(lambda x: x.split('.')[0])
turism_nights_apartments_hot_spots_filtered['Residents'] = turism_nights_apartments_hot_spots_filtered['Origin'].apply(lambda x: x.split('.')[1])
turism_nights_apartments_hot_spots_filtered['Site'] = turism_nights_apartments_hot_spots_filtered['Origin'].apply(lambda x: x.split('.')[2])

turism_nights_apartments_hot_spots_filtered = turism_nights_apartments_hot_spots_filtered.drop('Origin', axis=1)
turism_nights_apartments_hot_spots_filtered.head()

,Fecha,Valor,Category,Residents,Site
0,2021-12-01,6000.0,Número de alojamientos turísticos ocupados,Total,Alicante/Alacant
1,2021-11-01,5000.0,Número de alojamientos turísticos ocupados,Total,Alicante/Alacant
2,2021-10-01,8000.0,Número de alojamientos turísticos ocupados,Total,Alicante/Alacant
3,2021-09-01,8000.0,Número de alojamientos turísticos ocupados,Total,Alicante/Alacant
4,2021-08-01,12000.0,Número de alojamientos turísticos ocupados,Total,Alicante/Alacant

In [105]:
turism_nights_apartments_hot_spots_filtered.isna().sum()

Fecha           0
Valor        4735
Category        0
Residents       0
Site            0
dtype: int64

In [106]:
missing_values = turism_nights_apartments_hot_spots_filtered.loc[turism_nights_apartments_hot_spots_filtered['Valor'].isna()]
missing_values

,Fecha,Valor,Category,Residents,Site
19,2020-05-01,NaN,Número de alojamientos turísticos ocupados,Total,Alicante/Alacant
20,2020-04-01,NaN,Número de alojamientos turísticos ocupados,Total,Alicante/Alacant
86,2021-04-01,NaN,Número de alojamientos turísticos ocupados,Total,Benalmádena
87,2021-03-01,NaN,Número de alojamientos turísticos ocupados,Total,Benalmádena
88,2021-02-01,NaN,Número de alojamientos turísticos ocupados,Total,Benalmádena
...,...,...,...,...,...
13683,2019-03-01,NaN,Estancia media,Residentes en el Extranjero,Zaragoza
13684,2019-02-01,NaN,Estancia media,Residentes en el Extranjero,Zaragoza
13685,2019-01-01,NaN,Estancia media,Residentes en el Extranjero,Zaragoza
13686,2018-12-01,NaN,Estancia media,Residentes en el Extranjero,Zaragoza
13687,2018-11-01,NaN,Estancia media,Residentes en el Extranjero,Zaragoza

In [107]:
missing_values.Site.value_counts()
missing_values.Category.value_counts()

Número de alojamientos turísticos ocupados    2025
Estancia media                                2025
Número de noches ocupadas                      685
Name: Category, dtype: int64

In [108]:
missing_values_idx = missing_values.index

turism_nights_apartments_hot_spots_filtered = turism_nights_apartments_hot_spots_filtered.drop(missing_values_idx, axis=0)

In [109]:
turism_nights_apartments_hot_spots_filtered.isna().sum()

Fecha        0
Valor        0
Category     0
Residents    0
Site         0
dtype: int64

In [110]:
# Salvamos el dataset limpio como archivo Excel
file_name = 'turism_nights_apartments_hot_spots.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_nights_apartments_hot_spots_filtered.to_excel(path+file_name)

## Encuesta: Encuesta de Ocupación Hotelera. Viajeros y pernoctaciones por puntos turísticos


Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=2078

In [111]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/49370?date=20151001:20220601'

turism_nights_hotels_hot_spot = pd.read_json(url)

# Salvamos el dataset sucio como Excel
file_name = 'turism_nights_hotels_hot_spot.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

turism_nights_hotels_hot_spot.to_excel(path+file_name)

In [112]:
turism_nights_hotels_hot_spot.head()

,COD,Nombre,FK_Unidad,FK_Escala,Data
0,EOT2611,Nacional. Viajeros. Vitoria-Gastéiz. Residente...,213,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
1,EOT2612,Nacional. Viajeros. Vitoria-Gastéiz. Residente...,213,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
2,EOT2613,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,242,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
3,EOT2614,Nacional. Pernoctaciones. Vitoria-Gastéiz. Res...,242,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."
4,EOT2615,Nacional. Viajeros. Albacete. Residentes en Es...,213,1,"[{'Fecha': 1654034400000, 'FK_TipoDato': 2, 'F..."

In [113]:
turism_nights_hotels_hot_spot = turism_nights_hotels_hot_spot.loc[turism_nights_hotels_hot_spot.Nombre.str.contains('hoteleros')]
turism_nights_hotels_hot_spot.Nombre.unique()

array(['Nacional. Establecimientos hoteleros. Viajeros. 03063-Denia. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 03063-Denia. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 03063-Denia. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 03063-Denia. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 04066-Níjar. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 04066-Níjar. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 04066-Níjar. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 04066-Níjar. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 07014-Capdepera. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 07014-Capdepera. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 07014-Capdepera. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 07014-Capdepera. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 07051-Sant Llorenç des Cardassar. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 07051-Sant Llorenç des Cardassar. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 07051-Sant Llorenç des Cardassar. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 07051-Sant Llorenç des Cardassar. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 10148-Plasencia. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 10148-Plasencia. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 10148-Plasencia. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 10148-Plasencia. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 10195-Trujillo. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 10195-Trujillo. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 10195-Trujillo. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 10195-Trujillo. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 12089-Peñiscola. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 12089-Peñiscola. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 12089-Peñiscola. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 12089-Peñiscola. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 17095-Lloret de Mar. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 17095-Lloret de Mar. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 17095-Lloret de Mar. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 17095-Lloret de Mar. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 22054-Benasque. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 22054-Benasque. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22054-Benasque. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22054-Benasque. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 22130-Jaca. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 22130-Jaca. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22130-Jaca. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22130-Jaca. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 22204-Sallent de Gállego. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 22204-Sallent de Gállego. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22204-Sallent de Gállego. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 22204-Sallent de Gállego. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 23028-Cazorla. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 23028-Cazorla. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 23028-Cazorla. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 23028-Cazorla. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 25025-Naut Arant. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 25025-Naut Arant. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 25025-Naut Arant. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 25025-Naut Arant. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 25243-Vielha e Mijaran. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 25243-Vielha e Mijaran. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 25243-Vielha e Mijaran. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 25243-Vielha e Mijaran. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 27066-Viveiro. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 27066-Viveiro. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 27066-Viveiro. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 27066-Viveiro. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 29051-Estepona. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 29051-Estepona. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 29051-Estepona. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 29051-Estepona. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 32054-Ourense. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 32054-Ourense. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 32054-Ourense. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 32054-Ourense. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 33012-Cangas de Onís. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 33012-Cangas de Onís. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 33012-Cangas de Onís. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 33012-Cangas de Onís. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 33076-Villaviciosa. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 33076-Villaviciosa. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 33076-Villaviciosa. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 33076-Villaviciosa. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 34120-Palencia. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 34120-Palencia. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 34120-Palencia. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 34120-Palencia. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 36022-Grove (O). Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 36022-Grove (O). Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 36022-Grove (O). Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 36022-Grove (O). Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 36051-Sanxenxo. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 36051-Sanxenxo. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 36051-Sanxenxo. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 36051-Sanxenxo. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 43038-Cambrils. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 43038-Cambrils. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 43038-Cambrils. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 43038-Cambrils. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 43905-Salou. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 43905-Salou. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 43905-Salou. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 43905-Salou. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Viajeros. 49021-Benavente. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Viajeros. 49021-Benavente. Residentes en el extranjero.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 49021-Benavente. Residentes en España.',
       'Nacional. Establecimientos hoteleros. Pernoctaciones. 49021-Benavente. Residentes en el extranjero.'],
      dtype=object)

In [114]:
turism_nights_hotels_hot_spot_filtered = normalize_json(turism_nights_hotels_hot_spot)
turism_nights_hotels_hot_spot_filtered.head()

,Origin,Fecha,Valor,Notas
0,Nacional. Establecimientos hoteleros. Viajeros...,2022-06-01,13580.0,NaN
1,Nacional. Establecimientos hoteleros. Viajeros...,2022-05-01,10317.0,NaN
2,Nacional. Establecimientos hoteleros. Viajeros...,2022-04-01,8339.0,NaN
3,Nacional. Establecimientos hoteleros. Viajeros...,2022-03-01,NaN,NaN
4,Nacional. Establecimientos hoteleros. Viajeros...,2022-02-01,NaN,NaN

In [115]:
turism_nights_hotels_hot_spot_filtered['Category'] = turism_nights_hotels_hot_spot_filtered['Origin'].apply(lambda x: x.split(".")[4])
turism_nights_hotels_hot_spot_filtered['Site'] = turism_nights_hotels_hot_spot_filtered['Origin'].apply(lambda x: x.split(".")[3])
turism_nights_hotels_hot_spot_filtered['Origin'] = turism_nights_hotels_hot_spot_filtered['Origin'].apply(lambda x: x.split(".")[1])

turism_nights_hotels_hot_spot_filtered = turism_nights_hotels_hot_spot_filtered.rename(columns = {'Origin':'Establishment'})

In [116]:
turism_nights_hotels_hot_spot_filtered.isna().sum()

Establishment       0
Fecha               0
Valor            1962
Notas            6362
Category            0
Site                0
dtype: int64

In [117]:
missing_values = turism_nights_hotels_hot_spot_filtered.loc[turism_nights_hotels_hot_spot_filtered['Valor'].isna()].index
turism_nights_hotels_hot_spot_filtered = turism_nights_hotels_hot_spot_filtered.drop(missing_values, axis=0)

In [118]:
turism_nights_hotels_hot_spot_filtered = turism_nights_hotels_hot_spot_filtered.drop('Notas', axis=1)

In [119]:
turism_nights_hotels_hot_spot_filtered.isna().sum()

Establishment    0
Fecha            0
Valor            0
Category         0
Site             0
dtype: int64

In [120]:
# Salvamos el dataset limpio como archivo Excel
file_name = 'turism_nights_hotels_hot_spot_filtered.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

turism_nights_hotels_hot_spot_filtered.to_excel(path+file_name)

## Encuesta: Tarifa media diaria (ADR) desglose por puntos turísticos

Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=46298

In [121]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/46298?date=20151001:20220601'

hotels_adr_hot_spots = pd.read_json(url)

# Salvamos el dataset sucio como Excel
file_name = 'hotels_adr_hot_spots.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

hotels_adr_hot_spots.to_excel(path+file_name)

In [122]:
hotels_adr_hot_spots.Nombre.unique()

array(['Vitoria-Gasteiz. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Vitoria-Gasteiz. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Albacete. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Albacete. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Alicante/Alacant. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Alicante/Alacant. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Benidorm. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Benidorm. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Dénia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Dénia. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Elche/Elx. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Elche/Elx. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Torrevieja. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Torrevieja. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Almería. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Almería. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Mojácar. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Mojácar. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Níjar. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Níjar. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Roquetas de Mar. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Roquetas de Mar. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Ávila. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ávila. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Badajoz. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Badajoz. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Mérida. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Mérida. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Calvià. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Calvià. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Capdepera. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Capdepera. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Palma. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Palma. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Sant Llorenç des Cardassar. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sant Llorenç des Cardassar. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Barcelona. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Barcelona. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Sitges. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sitges. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Burgos. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Burgos. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Cáceres. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cáceres. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Plasencia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Plasencia. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Trujillo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Trujillo. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Algeciras. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Algeciras. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Arcos de la Frontera. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Arcos de la Frontera. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Cádiz. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cádiz. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Jerez de la Frontera. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Jerez de la Frontera. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Puerto de Santa María, El. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Puerto de Santa María, El. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Tarifa. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Tarifa. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Castelló de la Plana. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Castelló de la Plana. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Peníscola/Peñíscola. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Peníscola/Peñíscola. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Ciudad Real. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ciudad Real. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Córdoba. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Córdoba. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Coruña, A. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Coruña, A. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Santiago de Compostela. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Santiago de Compostela. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Cuenca. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cuenca. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Lloret de Mar. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Lloret de Mar. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Granada. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Granada. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Sigüenza. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sigüenza. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Donostia/San Sebastián. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Donostia/San Sebastián. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Benasque. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Benasque. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Jaca. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Jaca. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Sallent de Gállego. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sallent de Gállego. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Cazorla. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cazorla. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'León. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'León. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Ponferrada. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ponferrada. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Naut Aran. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Naut Aran. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Lleida. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Lleida. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Vielha e Mijaran. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Vielha e Mijaran. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Logroño. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Logroño. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Lugo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Lugo. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Ribadeo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ribadeo. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Viveiro. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Viveiro. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Madrid. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Madrid. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Antequera. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Antequera. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Benalmádena. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Benalmádena. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Estepona. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Estepona. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Fuengirola. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Fuengirola. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Málaga. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Málaga. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Marbella. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Marbella. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Nerja. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Nerja. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Ronda. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ronda. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Torremolinos. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Torremolinos. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Cartagena. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cartagena. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Murcia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Murcia. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Pamplona/Iruña. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Pamplona/Iruña. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Ourense. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ourense. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Cangas de Onís. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cangas de Onís. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Gijón. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Gijón. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Llanes. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Llanes. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Oviedo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Oviedo. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Villaviciosa. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Villaviciosa. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Palencia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Palencia. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Mogán. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Mogán. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Pájara. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Pájara. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Palmas de Gran Canaria, Las. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Palmas de Gran Canaria, Las. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'San Bartolomé de Tirajana. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'San Bartolomé de Tirajana. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Teguise. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Teguise. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Tías. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Tías. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Yaiza. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Yaiza. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Grove, O. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Grove, O. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Sanxenxo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sanxenxo. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Vigo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Vigo. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Salamanca. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Salamanca. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Adeje. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Adeje. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Arona. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Arona. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Puerto de la Cruz. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Puerto de la Cruz. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Santa Cruz de Tenerife. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Santa Cruz de Tenerife. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Santander. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Santander. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Segovia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Segovia. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Sevilla. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sevilla. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Soria. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Soria. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Cambrils. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cambrils. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Tarragona. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Tarragona. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Salou. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Salou. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Albarracín. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Albarracín. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Teruel. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Teruel. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Toledo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Toledo. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Gandia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Gandia. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'València. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'València. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Valladolid. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Valladolid. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Bilbao. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Bilbao. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Benavente. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Benavente. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Zamora. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Zamora. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Zaragoza. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Zaragoza. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. '],
      dtype=object)

In [123]:
hotels_adr_hot_spots = hotels_adr_hot_spots.loc[hotels_adr_hot_spots.Nombre.str.contains('Dato base')]

In [124]:
hotels_adr_hot_spots_filtered = normalize_json(hotels_adr_hot_spots)
hotels_adr_hot_spots_filtered.head()

                                              Origin       Fecha  Valor
0  Vitoria-Gasteiz. Tarifa media diaria (ADR). To...  2022-06-01  70.88
1  Vitoria-Gasteiz. Tarifa media diaria (ADR). To...  2022-05-01  63.04
2  Vitoria-Gasteiz. Tarifa media diaria (ADR). To...  2022-04-01  64.57
3  Vitoria-Gasteiz. Tarifa media diaria (ADR). To...  2022-03-01  57.89
4  Vitoria-Gasteiz. Tarifa media diaria (ADR). To...  2022-02-01  52.50

In [125]:
hotels_adr_hot_spots_filtered['Origin'] = hotels_adr_hot_spots_filtered['Origin'].apply(lambda x: x.split('.')[0])
hotels_adr_hot_spots_filtered.head()

            Origin       Fecha  Valor
0  Vitoria-Gasteiz  2022-06-01  70.88
1  Vitoria-Gasteiz  2022-05-01  63.04
2  Vitoria-Gasteiz  2022-04-01  64.57
3  Vitoria-Gasteiz  2022-03-01  57.89
4  Vitoria-Gasteiz  2022-02-01  52.50

In [126]:
hotels_adr_hot_spots_filtered.isna().sum()

Origin      0
Fecha       0
Valor     149
dtype: int64

In [127]:
missing_values = hotels_adr_hot_spots_filtered.loc[hotels_adr_hot_spots_filtered['Valor'].isna()].index
hotels_adr_hot_spots_filtered = hotels_adr_hot_spots_filtered.drop(missing_values, axis=0)

In [128]:
hotels_adr_hot_spots_filtered.isna().sum()

Origin    0
Fecha     0
Valor     0
dtype: int64

In [129]:
# Salvamos el dataset limpio como archivo Excel
file_name = 'hotels_adr_hot_spots.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/clean/'

hotels_adr_hot_spots_filtered.to_excel(path+file_name)

## Encuesta: Tarifa media diaria (ADR) desglose por CCAA

Fuente: https://www.ine.es/jaxiT3/Tabla.htm?t=2059

In [130]:
url = 'https://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/2059?date=20151001:20220601'

hotels_adr_ccaa = pd.read_json(url)

# Salvamos el dataset sucio como Excel
file_name = 'hotels_adr_ccaa.xlsx'
path = 'C:/Users/ameli/IRONHACK/WEEK_5/MBP/data/raw/'

hotels_adr_ccaa.to_excel(path+file_name)

In [131]:
hotels_adr_ccaa.Nombre.unique()

array(['ADR. Nacional. Dato.',
       'ADR. Nacional. Tasa de variación interanual.',
       'ADR. Andalucía. Dato.',
       'ADR. Andalucía. Tasa de variación interanual.',
       'Almería. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Almería. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Cádiz. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cádiz. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Córdoba. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Córdoba. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Granada. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Granada. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Huelva. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Huelva. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Jaén. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Jaén. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Málaga. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Málaga. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Sevilla. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sevilla. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'ADR. Aragón. Dato.', 'ADR. Aragón. Tasa de variación interanual.',
       'Huesca. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Huesca. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Teruel. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Teruel. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Zaragoza. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Zaragoza. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'ADR. Asturias (Principado de). Dato.',
       'ADR. Asturias (Principado de). Tasa de variación interanual.',
       'Asturias. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Asturias. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'ADR. Balears (Illes). Dato.',
       'ADR. Balears (Illes). Tasa de variación interanual.',
       'Balears, Illes. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Balears, Illes. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'ADR. Canarias. Dato.',
       'ADR. Canarias. Tasa de variación interanual.',
       'Palmas, Las. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Palmas, Las. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Santa Cruz de Tenerife. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Santa Cruz de Tenerife. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'ADR. Cantabria. Dato.',
       'ADR. Cantabria. Tasa de variación interanual.',
       'Cantabria. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cantabria. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'ADR. Castilla y León. Dato.',
       'ADR. Castilla y León. Tasa de variación interanual.',
       'Ávila. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ávila. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Burgos. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Burgos. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'León. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'León. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Palencia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Palencia. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Salamanca. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Salamanca. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Segovia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Segovia. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Soria. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Soria. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Valladolid. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Valladolid. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Zamora. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Zamora. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'ADR. Castilla - La Mancha. Dato.',
       'ADR. Castilla - La Mancha. Tasa de variación interanual.',
       'Albacete. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Albacete. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Ciudad Real. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ciudad Real. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Cuenca. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cuenca. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Guadalajara. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Guadalajara. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Toledo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Toledo. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'ADR. Cataluña. Dato.',
       'ADR. Cataluña. Tasa de variación interanual.',
       'Barcelona. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Barcelona. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Girona. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Girona. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Lleida. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Lleida. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Tarragona. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Tarragona. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'ADR. Comunitat Valenciana. Dato.',
       'ADR. Comunitat Valenciana. Tasa de variación interanual.',
       'Alicante/Alacant. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Alicante/Alacant. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Castellón/Castelló. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Castellón/Castelló. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Valencia/València. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Valencia/València. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'ADR. Extremadura. Dato.',
       'ADR. Extremadura. Tasa de variación interanual.',
       'Badajoz. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Badajoz. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Cáceres. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cáceres. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'ADR. Galicia. Dato.',
       'ADR. Galicia. Tasa de variación interanual.',
       'Coruña, A. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Coruña, A. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Lugo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Lugo. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Ourense. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ourense. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Pontevedra. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Pontevedra. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'ADR. Madrid (Comunidad de). Dato.',
       'ADR. Madrid (Comunidad de). Tasa de variación interanual.',
       'Madrid. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Madrid. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'ADR. Murcia (Región de). Dato.',
       'ADR. Murcia (Región de). Tasa de variación interanual.',
       'Murcia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Murcia. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'ADR. Navarra (Comunidad Foral de). Dato.',
       'ADR. Navarra (Comunidad Foral de). Tasa de variación interanual.',
       'Navarra. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Navarra. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'ADR. País Vasco. Dato.',
       'ADR. País Vasco. Tasa de variación interanual.',
       'Araba/Álava. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Araba/Álava. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Bizkaia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Bizkaia. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'Gipuzkoa. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Gipuzkoa. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'ADR. Rioja (La). Dato.',
       'ADR. Rioja (La). Tasa de variación interanual.',
       'Rioja, La. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Rioja, La. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'ADR. Ceuta. Dato.', 'ADR. Ceuta. Tasa de variación interanual.',
       'Ceuta. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ceuta. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. ',
       'ADR. Melilla. Dato.',
       'ADR. Melilla. Tasa de variación interanual.',
       'Melilla. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Melilla. Tarifa media diaria (ADR). Total categorías. Tasa de variación interanual. '],
      dtype=object)

In [132]:
hotels_adr_ccaa = hotels_adr_ccaa.loc[hotels_adr_ccaa.Nombre.str.contains('Dato')]
hotels_adr_ccaa.Nombre.unique()

array(['ADR. Nacional. Dato.', 'ADR. Andalucía. Dato.',
       'Almería. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cádiz. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Córdoba. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Granada. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Huelva. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Jaén. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Málaga. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Sevilla. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'ADR. Aragón. Dato.',
       'Huesca. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Teruel. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Zaragoza. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'ADR. Asturias (Principado de). Dato.',
       'Asturias. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'ADR. Balears (Illes). Dato.',
       'Balears, Illes. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'ADR. Canarias. Dato.',
       'Palmas, Las. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Santa Cruz de Tenerife. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'ADR. Cantabria. Dato.',
       'Cantabria. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'ADR. Castilla y León. Dato.',
       'Ávila. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Burgos. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'León. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Palencia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Salamanca. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Segovia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Soria. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Valladolid. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Zamora. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'ADR. Castilla - La Mancha. Dato.',
       'Albacete. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ciudad Real. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cuenca. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Guadalajara. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Toledo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'ADR. Cataluña. Dato.',
       'Barcelona. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Girona. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Lleida. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Tarragona. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'ADR. Comunitat Valenciana. Dato.',
       'Alicante/Alacant. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Castellón/Castelló. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Valencia/València. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'ADR. Extremadura. Dato.',
       'Badajoz. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Cáceres. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'ADR. Galicia. Dato.',
       'Coruña, A. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Lugo. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Ourense. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Pontevedra. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'ADR. Madrid (Comunidad de). Dato.',
       'Madrid. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'ADR. Murcia (Región de). Dato.',
       'Murcia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'ADR. Navarra (Comunidad Foral de). Dato.',
       'Navarra. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'ADR. País Vasco. Dato.',
       'Araba/Álava. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Bizkaia. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'Gipuzkoa. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'ADR. Rioja (La). Dato.',
       'Rioja, La. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'ADR. Ceuta. Dato.',
       'Ceuta. Tarifa media diaria (ADR). Total categorías. Dato base. ',
       'ADR. Melilla. Dato.',
       'Melilla. Tarifa media diaria (ADR). Total categorías. Dato base. '],
      dtype=object)

In [133]:
hotels_adr_ccaa_filtered = normalize_json(hotels_adr_ccaa)
hotels_adr_ccaa_filtered.head()

                 Origin       Fecha   Valor Notas
0  ADR. Nacional. Dato.  2022-06-01  105.65   NaN
1  ADR. Nacional. Dato.  2022-05-01   95.26   NaN
2  ADR. Nacional. Dato.  2022-04-01   96.28   NaN
3  ADR. Nacional. Dato.  2022-03-01   89.05   NaN
4  ADR. Nacional. Dato.  2022-02-01   87.84   NaN

In [134]:
hotels_adr_ccaa_filtered

,Origin,Fecha,Valor,Notas
0,ADR. Nacional. Dato.,2022-06-01,105.65,NaN
1,ADR. Nacional. Dato.,2022-05-01,95.26,NaN
2,ADR. Nacional. Dato.,2022-04-01,96.28,NaN
3,ADR. Nacional. Dato.,2022-03-01,89.05,NaN
4,ADR. Nacional. Dato.,2022-02-01,87.84,NaN
...,...,...,...,...
2551,Melilla. Tarifa media diaria (ADR). Total cate...,2021-05-01,64.98,NaN
2552,Melilla. Tarifa media diaria (ADR). Total cate...,2021-04-01,69.66,NaN
2553,Melilla. Tarifa media diaria (ADR). Total cate...,2021-03-01,67.57,NaN
2554,Melilla. Tarifa media diaria (ADR). Total cate...,2021-02-01,65.51,NaN
2555,Melilla. Tarifa media diaria (ADR). Total cate...,2021-01-01,64.45,NaN

In [ ]:
hotels_adr_ccaa_filtered['Origin'] = hotels_adr_ccaa_filtered['Origin'].